@import url('https://themes.googleusercontent.com/fonts/css?kit=fpjTOVmNbO4Lz34iLyptLROjXfSpIU_1TsQlCJ7q4WkfnUSgpG7o6Yx3LgtCQhIzcgkv6_KOpC-vO9QMy-VQCA');

ul.lst-kix_smpcezsycp41-6 {
    list-style-type: none
}

ul.lst-kix_smpcezsycp41-5 {
    list-style-type: none
}

ul.lst-kix_smpcezsycp41-4 {
    list-style-type: none
}

ul.lst-kix_smpcezsycp41-3 {
    list-style-type: none
}

ul.lst-kix_smpcezsycp41-2 {
    list-style-type: none
}

ul.lst-kix_smpcezsycp41-1 {
    list-style-type: none
}

ul.lst-kix_smpcezsycp41-0 {
    list-style-type: none
}

.lst-kix_smpcezsycp41-0 > li:before {
    content: "-  "
}

.lst-kix_smpcezsycp41-8 > li:before {
    content: "-  "
}

.lst-kix_smpcezsycp41-1 > li:before {
    content: "-  "
}

ul.lst-kix_smpcezsycp41-8 {
    list-style-type: none
}

ul.lst-kix_smpcezsycp41-7 {
    list-style-type: none
}

.lst-kix_smpcezsycp41-4 > li:before {
    content: "-  "
}

.lst-kix_smpcezsycp41-2 > li:before {
    content: "-  "
}

.lst-kix_smpcezsycp41-6 > li:before {
    content: "-  "
}

.lst-kix_smpcezsycp41-3 > li:before {
    content: "-  "
}

.lst-kix_smpcezsycp41-7 > li:before {
    content: "-  "
}

.lst-kix_smpcezsycp41-5 > li:before {
    content: "-  "
}

ol {
    margin: 0;
    padding: 0
}

table td, table th {
    padding: 0
}

.c28 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    background-color: #ffffff;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 481.9pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c4 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 218.1pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c10 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 198.2pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c31 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 451.3pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c34 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 253.2pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c23 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 189.6pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c0 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 261.7pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c24 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 233.2pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c3 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Calibri";
    font-style: normal
}

.c18 {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 14pt;
    font-family: "Calibri";
    font-style: normal
}

.c30 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 28pt;
    font-family: "Calibri";
    font-style: normal
}

.c19 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Calibri";
    font-style: italic
}

.c1 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Times New Roman";
    font-style: normal
}

.c29 {
    color: #ce9178;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10.5pt;
    font-family: "Courier New";
    font-style: normal
}

.c9 {
    padding-top: 12pt;
    padding-bottom: 12pt;
    line-height: 1.0791666666666666;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c5 {
    padding-top: 0pt;
    padding-bottom: 8pt;
    line-height: 1.0791666666666666;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c33 {
    padding-top: 0pt;
    padding-bottom: 12pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c8 {
    padding-top: 20pt;
    padding-bottom: 6pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c13 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: center
}

.c14 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c22 {
    font-size: 10.5pt;
    font-family: "Consolas";
    color: #0086b3;
    font-weight: 400
}

.c16 {
    font-size: 10.5pt;
    font-family: "Consolas";
    color: #008080;
    font-weight: 400
}

.c2 {
    font-size: 10.5pt;
    font-family: "Consolas";
    color: #333333;
    font-weight: 400
}

.c32 {
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto
}

.c6 {
    font-size: 10.5pt;
    font-family: "Consolas";
    color: #dd1144;
    font-weight: 400
}

.c27 {
    margin-left: -5pt;
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto
}

.c15 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    text-align: left
}

.c25 {
    font-size: 10.5pt;
    font-family: "Consolas";
    color: #333333;
    font-weight: 700
}

.c20 {
    background-color: #ffffff;
    max-width: 481.9pt;
    padding: 85pt 56.7pt 85pt 56.7pt
}

.c7 {
    font-family: "Arial";
    color: #000000;
    font-weight: 400
}

.c21 {
    font-size: 14pt;
    font-weight: 700
}

.c26 {
    height: 0pt
}

.c17 {
    page-break-after: avoid
}

.c11 {
    height: 21pt
}

.c12 {
    height: 11pt
}

.title {
    padding-top: 0pt;
    color: #000000;
    font-size: 28pt;
    padding-bottom: 0pt;
    font-family: "Calibri";
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle {
    padding-top: 18pt;
    color: #666666;
    font-size: 24pt;
    padding-bottom: 4pt;
    font-family: "Georgia";
    line-height: 1.0791666666666666;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}

li {
    color: #000000;
    font-size: 11pt;
    font-family: "Calibri"
}

p {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Calibri"
}

h1 {
    padding-top: 0pt;
    color: #000000;
    font-weight: 700;
    font-size: 24pt;
    padding-bottom: 8pt;
    font-family: "Times New Roman";
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2 {
    padding-top: 18pt;
    color: #000000;
    font-weight: 700;
    font-size: 18pt;
    padding-bottom: 4pt;
    font-family: "Calibri";
    line-height: 1.0791666666666666;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3 {
    padding-top: 14pt;
    color: #000000;
    font-weight: 700;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Calibri";
    line-height: 1.0791666666666666;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4 {
    padding-top: 12pt;
    color: #000000;
    font-weight: 700;
    font-size: 12pt;
    padding-bottom: 2pt;
    font-family: "Calibri";
    line-height: 1.0791666666666666;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5 {
    padding-top: 11pt;
    color: #000000;
    font-weight: 700;
    font-size: 11pt;
    padding-bottom: 2pt;
    font-family: "Calibri";
    line-height: 1.0791666666666666;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6 {
    padding-top: 10pt;
    color: #000000;
    font-weight: 700;
    font-size: 10pt;
    padding-bottom: 2pt;
    font-family: "Calibri";
    line-height: 1.0791666666666666;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}
