@{
    Layout = "_Subpages";
}


<link href="~/css/LearningObjektives.css" rel="stylesheet" type="text/css" asp-append-version="true" />
<script src="~/js/portfolio.js" asp-append-version="true"></script>



<div class="c10">
    <p class="c6 c17 title" id="h.339ijykt6oh6">
        <span class="c19">UGE 6 og 7</span>
    </p><p class="c3">
        <span class="c1">&nbsp;</span>
    </p>
    <h2 class="c3 c6" id="h.d6554k2tvhy6">
        <span class="c2">Data Lake</span>
    </h2><p class="c5"><span class="c1"></span></p><a id="t.d023ddd7a74888d3a4f1433e237c25073e2ddb10">
    </a><a id="t.0"></a><table class="c13">
        <tbody>
            <tr class="c16">
                <td class="c14" colspan="1" rowspan="1">
                    <p class="c8">
                        <span class="c0">M&aring;l</span>
                    </p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c8">
                        <span class="c1">Jeg vil opspore viden ud fra forskellige kilder. Jeg vil finde materiale som afd&aelig;kker de fundamentale elementer i arkitekturen og hvilken sprog der benyttes for at danne mig et fundament at arbejde ud fra.</span>
                    </p>
                </td>
            </tr>
            <tr class="c12"><td class="c14" colspan="1" rowspan="1"><p class="c8"><span class="c0">Aktiviteter</span></p></td><td class="c7" colspan="1" rowspan="1"><h3 class="c20" id="h.jp0bib3mxkc"><span class="c1">Gennemg&aring;r The Enterprise Big Data Lake bogen af Alex Gorelik med form&aring;l om at l&aelig;re at ops&aelig;tte og vedligeholde en Data Lake. Samt at udveksle viden og materiale med min Guild-gruppe og vejleder for inspiration.</span></h3><p class="c8"><span class="c1">&nbsp;</span></p></td></tr>
            <tr class="c18"><td class="c14" colspan="1" rowspan="1"><p class="c8"><span class="c0">Opfyldelseskriterier</span></p></td><td class="c7" colspan="1" rowspan="1"><p class="c8"><span class="c1">N&aring;r jeg har l&aelig;st de f&oslash;rste 2 kapitler i bogen. Efter gennemf&oslash;relse, skal jeg overveje om at finde frem til noget nyt materiale jeg kan g&aring; i gang med i den n&aelig;ste cyklus.</span></p></td></tr>
        </tbody>
    </table><p class="c5"><span class="c1"></span></p><p class="c3"><span class="c1">&nbsp;</span></p>
    <h3 class="c3 c6" id="h.ixmouugjjui"><span class="c15">Evaluering</span></h3><p class="c3">
        <span class="c1">Da jeg begyndte at l&aelig;se i bogen, faldt jeg meget i staver da der var nogle ting som jeg ikke forstod endnu. I forhold til hvordan data bliver gemt etc. Derfor brugte jeg en god del af de 2 uger p&aring; at unders&oslash;ge forskellige m&oslash;der at opbevare ens data i en Data Lake. Det gav mig en forst&aring;else for hvordan man ville opbygge en Data Lake og udf&oslash;re ETL (Extract, Transform, Load) p&aring; den. Dog skulle jeg have l&aelig;rt at kravle f&oslash;r jeg kan l&oslash;be&hellip; Da jeg valgte at t&aelig;nke p&aring; det tekniske f&oslash;rst f&oslash;r jeg havde en forst&aring;else for den data der skal lagres, samt hvilke slags metadata vi vil opfange. Derfor skulle jeg have prioriteret anderledes og da jeg begyndte p&aring; at l&aelig;se op p&aring; forskellige tekster i p&aring; internettet, s&aring; skulle jeg bare have fokuseret p&aring; l&aelig;sematerialet, s&aring; jeg kunne danne mig en forforst&aring;else for begrebet Data Lake.</span>
    </p><p class="c3"><span class="c1">&nbsp;</span></p><p class="c3 c6 title" id="h.nyrnlkff5ed0"><span class="c19">&nbsp;</span></p><h2 class="c3 c6" id="h.asmimxfllcj2"><span class="c2">IT Sikkerhed</span></h2><h2 class="c3 c6 c9" id="h.r1eps4nj4k8c"><span class="c2"></span></h2><a id="t.e14c67f99322e0d58734bc98e927d4f52b929b8b"></a><a id="t.1"></a>
    <table class="c13">
        <tbody>
            <tr class="c11">
                <td class="c4" colspan="1" rowspan="1">
                    <p class="c8"><span class="c0">M&aring;l</span></p>
                </td>
                <td class="c4" colspan="1" rowspan="1"><p class="c8"><span class="c1">Jeg vil opspore viden ud fra forskellige kilder. Jeg vil finde kurser som afd&aelig;kker de fundamentale elementer i IT-sikkerhed for at danne mig et fundament at arbejde ud fra.</span></p></td>
            </tr>
            <tr class="c11">
                <td class="c4" colspan="1" rowspan="1"><p class="c8"><span class="c0">Aktiviteter</span></p></td>
                <td class="c4" colspan="1" rowspan="1"><h3 class="c20" id="h.3wihd53k4zun"><span class="c1">Gennemg&aring;r CompTIA Security+ (SY0-601) Cert Prep: 1 Threats, Attacks, and Vulnerabilities fra LinkedIn Learning. Samt udveksle viden og materiale med min Guild-gruppe og vejleder for inspiration</span></h3><p class="c8"><span class="c1">&nbsp;</span></p></td>
            </tr>
            <tr class="c11">
                <td class="c4" colspan="1" rowspan="1"><p class="c8"><span class="c0">Opfyldelseskriterier</span></p></td>
                <td class="c4" colspan="1" rowspan="1"><p class="c8"><span class="c1">N&aring;r jeg har gennemf&oslash;rt alle videoer i kurset til 100 %. Da hele kurset tager 2,5 timer. Efter gennemf&oslash;relse, skal jeg overveje om at finde frem til noget nyt materiale jeg kan g&aring; i gang med i den n&aelig;ste cyklus. Eller skal fors&aelig;tte videre i kurset med kurset.</span></p></td>
            </tr>
        </tbody>
    </table><h2 class="c3 c6" id="h.6ch3gutuqnee"><span class="c2">&nbsp;</span></h2><p class="c3"><span class="c1">&nbsp;</span></p><h3 class="c3 c6" id="h.orwqiwuoc9i4">
        <span class="c15">Evaluering</span>
    </h3><p class="c3">
        <span class="c1">Jeg fik et godt indblik i de forskellige termer associeret med de forskellige farer, angreb og usikkerheder der er i forskellige systemer. Ord som fx: worm, walware, virus etc. er gode ord at kende hvis jeg vil str&aelig;be en karriere indenfor IT-sikkerhed. Det gav mig ogs&aring; indblik i at hvor lavt et niveau jeg har t&aelig;nkt i forhold til den misuse/ abusecase, jeg lavede da de cases kun beskriver 1 form for angreb. Hvor det derimod skal t&aelig;nkes p&aring; et h&oslash;jere niveau.</span>
    </p><p class="c5">
        <span class="c1"></span>
    </p>
</div>