@{
    Layout = "_Subpages";
}



<div style="margin-top:12px; margin-bottom:20px">
    <style type="text/css">
        ol {
            margin: 0;
            padding: 0
        }

        table td, table th {
            padding: 0
        }

        .c2 {
            padding-top: 20pt;
            padding-bottom: 6pt;
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: center
        }

        .c5 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 20pt;
            font-family: "Arial";
            font-style: normal
        }

        .c1 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Arial";
            font-style: normal
        }

        .c3 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c0 {
            background-color: #ffffff;
            max-width: 451.4pt;
            padding: 72pt 72pt 72pt 72pt
        }

        .c4 {
            height: 11pt
        }

        .title {
            padding-top: 0pt;
            color: #000000;
            font-size: 26pt;
            padding-bottom: 3pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .subtitle {
            padding-top: 0pt;
            color: #666666;
            font-size: 15pt;
            padding-bottom: 16pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        li {
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }

        p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }

        h1 {
            padding-top: 20pt;
            color: #000000;
            font-size: 20pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h2 {
            padding-top: 18pt;
            color: #000000;
            font-size: 16pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 16pt;
            color: #434343;
            font-size: 14pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 14pt;
            color: #666666;
            font-size: 12pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }
    </style>
    <h1 class="c2" id="h.kyttyolzym2c"><span class="c5">Introduktion</span></h1>
    <p class="c3">
        <span class="c1">Dette er en fremvisning af produktets udviklingsprocess. Der vil blive beskrevet hvilke tanker der er indg&aring;et i arbejdet, samtidig med at der vil v&aelig;re en ordliste over de givne fagtermer, der bliver brugt. Da dette er et produkt der er blevet udviklet baseret p&aring; 4 m&aring;neders viden, s&aring; bliver alting ikke ber&oslash;rt. Der bliver lagt mest v&aelig;gt p&aring; udviklingen af en Data Lake i forhold til et projekt og hvilke tanker der er gjort der. Hvor der i ogs&aring; bliver lagt v&aelig;gt i det sikkerhedsm&aelig;ssige perspektiv, n&aring;r der skal udvikles en Data Lake. Da der er forskellige love man skal overholde, n&aring;r man behandler personf&oslash;lsomme data. B&aring;de i forhold til at g&oslash;re Data Laken sikker, men ogs&aring; for at s&oslash;rge for at brugeres privathed, n&aring;r deres informationer bliver gemt. Der vil blive snakket om hvordan man sikrer system internt, men ogs&aring; hvordan man g&oslash;r det eksternt.</span>
    </p>
    <p class="c3 c4"><span class="c1"></span></p>
    <h1 class="c2" id="h.qdzwdcvvz40"><span class="c5">Projektets Scope</span></h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <p class="c3"><span class="c1">Da selve applikationen er et stort projekt, s&aring; fokuseres der kun p&aring; API&rsquo;en og Data Lake. Da der fremvises databehandling i selve s&oslash;en, hvor det hele starter med den givne API. Men ogs&aring; i forhold til det IT-sikkerhedsm&aelig;ssige, for hvor mange ressourcer skal man bruge for at sikre et system.</span></p>
            </div>
            <div class="col-sm-1">
                <p class="c3">
                    <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 487.15px; height: 435.54px;">
                        <img alt="" src="~/images/image5.png" style="width: 677.49px; height: 507.21px; margin-left: -190.34px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
                    </span>
                </p>
            </div>
            
        </div>
    </div>
</div>