@{
    Layout = "_Subpages";
}
<style type="text/css">
    ol {
        margin: 0;
        padding: 0
    }

    table td, table th {
        padding: 0
    }

    .c2 {
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 11pt;
        font-family: "Arial";
        font-style: normal
    }

    .c7 {
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 12pt;
        font-family: "Arial";
        font-style: normal
    }

    .c8 {
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 26pt;
        font-family: "Arial";
        font-style: normal
    }

    .c4 {
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 12pt;
        font-family: "Arial";
        font-style: italic
    }

    .c9 {
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 11pt;
        font-family: "Arial";
        font-style: italic
    }

    .c12 {
        padding-top: 0pt;
        padding-bottom: 3pt;
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: center
    }

    .c0 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: left;
        height: 11pt
    }

    .c6 {
        color: #434343;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 12pt;
        font-family: "Arial";
        font-style: italic
    }

    .c1 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .c5 {
        text-decoration-skip-ink: none;
        font-size: 12pt;
        -webkit-text-decoration-skip: none;
        color: #1155cc;
        text-decoration: underline
    }

    .c3 {
        background-color: #ffffff;
        max-width: 451.4pt;
        padding: 72pt 72pt 72pt 72pt
    }

    .c11 {
        color: inherit;
        text-decoration: inherit
    }

    .c10 {
        font-size: 12pt
    }

    .title {
        padding-top: 0pt;
        color: #000000;
        font-size: 26pt;
        padding-bottom: 3pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .subtitle {
        padding-top: 0pt;
        color: #666666;
        font-size: 15pt;
        padding-bottom: 16pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    li {
        color: #000000;
        font-size: 11pt;
        font-family: "Arial"
    }

    p {
        margin: 0;
        color: #000000;
        font-size: 11pt;
        font-family: "Arial"
    }

    h1 {
        padding-top: 20pt;
        color: #000000;
        font-size: 20pt;
        padding-bottom: 6pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h2 {
        padding-top: 18pt;
        color: #000000;
        font-size: 16pt;
        padding-bottom: 6pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h3 {
        padding-top: 16pt;
        color: #434343;
        font-size: 14pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h4 {
        padding-top: 14pt;
        color: #666666;
        font-size: 12pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h5 {
        padding-top: 12pt;
        color: #666666;
        font-size: 11pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h6 {
        padding-top: 12pt;
        color: #666666;
        font-size: 11pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        font-style: italic;
        orphans: 2;
        widows: 2;
        text-align: left
    }
</style>
<p class="c12 title" id="h.xgo70u1vdids" style="text-align:center; margin-top:30px">
    <span class="c8" >Abuse Case</span></p>
<p class="c0"><span class="c2"></span>
    </p><p class="c1">
    <span class="c10">Jeg har f&aring;et min forst&aring;else indenfor Abuse ved at l&aelig;se op p&aring; </span>
    <span class="c5"><a class="c11" href="https://cheatsheetseries.owasp.org/cheatsheets/Abuse_Case_Cheat_Sheet.html">OWASP</a></span>
    <span class="c7">&rsquo;s eksempel. Hvor de beskriver abuse-cases / misuse-cases som f&oslash;lgende:</span></p><p class="c0">
    <span class="c4"></span></p>
    <p class="c1"><span class="c6">Misuse and abuse cases describe how users misuse or exploit the weaknesses</span></p>
<p class="c1"><span class="c6">of controls in software features to attack an application.This can lead to tangible business impact when a direct attack against business functionalities, which may bring in revenue or provide positive user experience, are attacked.</span></p><p class="c0"><span class="c6"></span></p><p class="c1"><span class="c6">Abuse cases can also be an effective way to drive security requirements</span></p><p class="c1"><span class="c6">that lead to proper protection of these critical business use cases. - OWASP</span></p><p class="c0"><span class="c9"></span></p><p class="c1"><span class="c2">Hvilket fremviser at enhver feature har deres abuse eller misuse case. Hvilket gjorde at jeg fokuserede p&aring; et UML v&aelig;rkt&oslash;j, vi havde l&aelig;rt som var Usecase Diagram. Da det diagram fremviser de funktioner, som skal ind i programmet i forhold til de givne brugere af systemet. Hvor jeg pr&oslash;vede at skitsere f&oslash;lgende billede baseret p&aring; vores produkt:</span></p>
<p class="c1">
    <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 601.70px; height: 450.67px;">
    <img alt="misusecase diagram" src="~/images/misusecase.png" style="margin:auto; width: 601.70px; height: 450.67px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span></p>
<p class="c1">
    <span class="c2">Hvor man tydeligt kan se at hver funktionalitet kan have en abuse / misusecase tilh&oslash;rende til sig. Hvor man er n&oslash;dt til at s&aelig;tte sig i en hackers sko og t&aelig;nke p&aring; hvilke sikkerhedsforanstaltninger skal der v&aelig;re, hvis en hacker f&aring;r ens data. I ovenst&aring;ende billede beskriver jeg at encryption hj&aelig;lper imod det, da det tager l&aelig;ngere tid for hackeren at f&aring; vores data. Men han har jo allerede f&aring;et fat i det. S&aring; man er m&aring;ske n&oslash;dt til at t&aelig;nke l&aelig;ngere bagud for at sikre sin data i det tilf&aelig;lde.</span></p>
<p class="c1"><span class="c2">N&aring;r man s&aring; har illustreret de fleste hacker fors&oslash;g, s&aring; kan man begynde at t&aelig;nke p&aring; forskellige mekanismer til at undg&aring; at det sker, som fx: hvis en admin / Dev gennemg&aring;r data. S&aring; hackeren ikke kan manipulere dataen via fx: SQL Injection etc.</span></p>
<p class="c0"><span class="c2"></span></p>
<p class="c1"><span class="c2">Misuse / abuse-cases er generelt set en beskrivelse over en interaktion med et system, der er direkte harmfuldt til applikationen eller opf&oslash;rsel som systemet ikke vil have skal se. </span></p>
<p class="c0"><span class="c2"></span></p>
<p class="c0"><span class="c2"></span></p>
<p class="c0"><span class="c2"></span></p>
