@{
    Layout = "_Subpages";
}


<style type="text/css">
    ol {
        margin: 0;
        padding: 0
    }

    table td, table th {
        padding: 0
    }

    .c0 {
        padding-top: 20pt;
        padding-bottom: 6pt;
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .c3 {
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 20pt;
        font-family: "Arial";
        font-style: normal
    }

    .c1 {
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 11pt;
        font-family: "Arial";
        font-style: normal
    }

    .c2 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .c6 {
        background-color: #ffffff;
        max-width: 451.4pt;
        padding: 72pt 72pt 72pt 72pt
    }

    .c5 {
        font-weight: 700
    }

    .c4 {
        height: 11pt
    }

    .title {
        padding-top: 0pt;
        color: #000000;
        font-size: 26pt;
        padding-bottom: 3pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .subtitle {
        padding-top: 0pt;
        color: #666666;
        font-size: 15pt;
        padding-bottom: 16pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    li {
        color: #000000;
        font-size: 11pt;
        font-family: "Arial"
    }

    p {
        margin: 0;
        color: #000000;
        font-size: 11pt;
        font-family: "Arial"
    }

    h1 {
        padding-top: 20pt;
        color: #000000;
        font-size: 20pt;
        padding-bottom: 6pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h2 {
        padding-top: 18pt;
        color: #000000;
        font-size: 16pt;
        padding-bottom: 6pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h3 {
        padding-top: 16pt;
        color: #434343;
        font-size: 14pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h4 {
        padding-top: 14pt;
        color: #666666;
        font-size: 12pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h5 {
        padding-top: 12pt;
        color: #666666;
        font-size: 11pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h6 {
        padding-top: 12pt;
        color: #666666;
        font-size: 11pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        font-style: italic;
        orphans: 2;
        widows: 2;
        text-align: left
    }
</style>

<div class="c6">
    <p class="c2 c4"><span class="c1"></span></p><h1 class="c0" id="h.vvuiy9bwqypn"><span class="c3">Hvad er en CA?</span></h1><h1 class="c0" id="h.2ovr7jkrirwr"><span class="c3">Hvad er en certifikatmyndighed (CA)?</span></h1><p class="c2"><span class="c1">En certifikatmyndighed (CA), ogs&aring; nogle gange omtalt som en certificeringsmyndighed, er en virksomhed eller organisation, der handler for at validere enheders identiteter (s&aring;som websteder, e-mail-adresser, virksomheder eller individuelle personer) og binde dem til kryptografiske n&oslash;gler via udstedelse af elektroniske dokumenter kendt som digitale certifikater.</span></p><p class="c2 c4"><span class="c1"></span></p><p class="c2"><span class="c1">Et digitalt certifikat giver:</span></p><p class="c2"><span class="c1">Et digitalt certifikat giver:</span></p><p class="c2"><span class="c5">Godkendelse</span><span class="c1">, ved at tjene som legitimationsoplysninger for at validere identiteten af &#8203;&#8203;den enhed, den er udstedt til.</span></p><p class="c2"><span class="c5">Kryptering</span><span class="c1">, til sikker kommunikation over usikre netv&aelig;rk s&aring;som internettet.</span></p><p class="c2"><span class="c5">Integriteten </span><span class="c1">af &#8203;&#8203;dokumenter, der er underskrevet med certifikatet, s&aring; de ikke kan &aelig;ndres af en tredjepart under transit.</span></p><p class="c2 c4"><span class="c1"></span></p><p class="c2 c4"><span class="c1"></span></p><p class="c2"><span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 601.70px; height: 429.33px;"><img alt="" src="images/image1.png" style="width: 601.70px; height: 429.33px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span></p><p class="c2 c4"><span class="c1"></span></p><h1 class="c0" id="h.tqcf1vccpbs9"><span class="c3">Hvad er en Chain Of Trust?</span></h1><p class="c2"><span>I SSL/TLS, S/MIME, kodesignering og andre applikationer af X.509-certifikater bruges et hierarki af certifikater til at verificere gyldigheden af &#8203;&#8203;et certifikats udsteder. Dette hierarki er kendt som en </span><span class="c5">chain of Trust</span><span>. I en </span><span class="c5">chain of Trust</span><span class="c1">&nbsp;udstedes og underskrives certifikater af certifikater, der lever h&oslash;jere oppe i hierarkiet.</span></p><p class="c2 c4"><span class="c1"></span></p><p class="c2"><span class="c1">En best&aring;r af flere dele:</span></p><p class="c2 c4"><span class="c1"></span></p><p class="c2"><span>1. Et </span><span class="c5">Trust anchor </span><span class="c1">, som er den oprindelige certifikatmyndighed (CA).</span></p><p class="c2"><span class="c1">2. Mindst et mellemliggende certifikat, der tjener som &quot;isolering&quot; mellem CA og slutenhedscertifikatet.</span></p><p class="c2"><span class="c1">3. Slutenhedscertifikatet, som bruges til at validere identiteten af &#8203;&#8203;en enhed, s&aring;som et websted, en virksomhed eller en person.</span></p><p class="c2 c4"><span class="c1"></span></p>
</div>