@{
    Layout = "_Subpages";
}
<style type="text/css">

        ol {
            margin: 0;
            padding: 0
        }

        table td, table th {
            padding: 0
        }

        .c0 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Arial";
            font-style: normal
        }

        .c16 {
            padding-top: 20pt;
            padding-bottom: 6pt;
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c10 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left;
            height: 11pt
        }

        .c12 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c5 {
            padding-top: 5pt;
            padding-bottom: 5pt;
            line-height: 1.5;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c11 {
            background-color: #f8f8f8;
            color: #999988;
            font-weight: 400;
            font-size: 10.5pt;
            font-family: "Consolas";
            font-style: italic
        }

        .c7 {
            background-color: #f8f8f8;
            font-size: 10.5pt;
            font-family: "Consolas";
            color: #333333;
            font-weight: 400
        }

        .c13 {
            background-color: #f8f8f8;
            font-size: 10.5pt;
            font-family: "Consolas";
            color: #dd1144;
            font-weight: 400
        }

        .c2 {
            background-color: #f8f8f8;
            font-size: 10.5pt;
            font-family: "Consolas";
            color: #008080;
            font-weight: 400
        }

        .c14 {
            text-decoration-skip-ink: none;
            -webkit-text-decoration-skip: none;
            color: #1155cc;
            text-decoration: underline
        }

        .c17 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            text-align: left
        }

        .c1 {
            background-color: #f5f2f0;
            font-size: 10.5pt;
            font-family: "Consolas";
            font-weight: 400
        }

        .c3 {
            text-decoration: none;
            vertical-align: baseline;
            font-style: normal
        }

        .c15 {
            font-weight: 400;
            font-size: 20pt;
            font-family: "Arial"
        }

        .c6 {
            background-color: #ffffff;
            max-width: 451.4pt;
            padding: 72pt 72pt 72pt 72pt
        }

        .c18 {
            color: inherit;
            text-decoration: inherit
        }

        .c4 {
            color: #999999
        }

        .c9 {
            color: #dd4a68
        }

        .c19 {
            height: 11pt
        }

        .c8 {
            color: #000000
        }

        .title {
            padding-top: 0pt;
            color: #000000;
            font-size: 26pt;
            padding-bottom: 3pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .subtitle {
            padding-top: 0pt;
            color: #666666;
            font-size: 15pt;
            padding-bottom: 16pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        li {
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }

        p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }

        h1 {
            padding-top: 20pt;
            color: #000000;
            font-size: 20pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h2 {
            padding-top: 18pt;
            color: #000000;
            font-size: 16pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 16pt;
            color: #434343;
            font-size: 14pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 14pt;
            color: #666666;
            font-size: 12pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }
</style>
<div class="c6">
    <h1 class="c16" id="h.f9ue2bxb2uxe"><span>For at l&aelig;re kafka fulgte jeg f&oslash;lgende </span><span class="c14"><a class="c18" href="https://www.google.com/url?q=https://developer.confluent.io/quickstart/kafka-docker/&amp;sa=D&amp;source=editors&amp;ust=1655441637449614&amp;usg=AOvVaw0jA53wXz5_YrqBsJkoToAJ">tutorial</a></span></h1><p class="c10"><span class="c0"></span></p><p class="c10"><span class="c0"></span></p><p class="c12"><span class="c0">Hvor jeg brugte f&oslash;lgende docker-compose fil:</span></p><p class="c17"><span class="c7">---<br>version: </span><span class="c13">&#39;3&#39;</span><span class="c7"><br>services:<br> &nbsp;zookeeper:<br> &nbsp; &nbsp;image: confluentinc/cp-zookeeper:</span><span class="c2">7.0</span><span class="c7">.</span><span class="c2">1</span><span class="c7"><br> &nbsp; &nbsp;container_name: zookeeper<br> &nbsp; &nbsp;environment:<br> &nbsp; &nbsp; &nbsp;ZOOKEEPER_CLIENT_PORT: </span><span class="c2">2181</span><span class="c7"><br> &nbsp; &nbsp; &nbsp;ZOOKEEPER_TICK_TIME: </span><span class="c2">2000</span><span class="c7"><br><br> &nbsp;broker:<br> &nbsp; &nbsp;image: confluentinc/cp-kafka:</span><span class="c2">7.0</span><span class="c7">.</span><span class="c2">1</span><span class="c7"><br> &nbsp; &nbsp;container_name: broker<br> &nbsp; &nbsp;ports:<br> &nbsp; &nbsp;</span><span class="c11"># To learn about configuring Kafka for access across networks see</span><span class="c7"><br> &nbsp; &nbsp;</span><span class="c11"># https://www.confluent.io/blog/kafka-client-cannot-connect-to-broker-on-aws-on-docker-etc/</span><span class="c7"><br> &nbsp; &nbsp; &nbsp;- </span><span class="c13">&quot;9092:9092&quot;</span><span class="c7"><br> &nbsp; &nbsp;depends_on:<br> &nbsp; &nbsp; &nbsp;- zookeeper<br> &nbsp; &nbsp;environment:<br> &nbsp; &nbsp; &nbsp;KAFKA_BROKER_ID: </span><span class="c2">1</span><span class="c7"><br> &nbsp; &nbsp; &nbsp;KAFKA_ZOOKEEPER_CONNECT: </span><span class="c13">&#39;zookeeper:2181&#39;</span><span class="c7"><br> &nbsp; &nbsp; &nbsp;KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_INTERNAL:PLAINTEXT<br> &nbsp; &nbsp; &nbsp;KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:</span><span class="c2">9092</span><span class="c7">,PLAINTEXT_INTERNAL://broker:</span><span class="c2">29092</span><span class="c7"><br> &nbsp; &nbsp; &nbsp;KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: </span><span class="c2">1</span><span class="c7"><br> &nbsp; &nbsp; &nbsp;KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: </span><span class="c2">1</span><span class="c7"><br> &nbsp; &nbsp; &nbsp;KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: </span><span class="c2 c3">1</span></p><p class="c17 c19"><span class="c2 c3"></span></p><p class="c12"><span class="c0">Som jeg s&aring; k&oslash;rte via docker compose up -d</span></p><p class="c10"><span class="c0"></span></p><p class="c12"><span>Derefter kunne jeg opr&aelig;tte topics via f&oslash;lgende kommando:<br></span><span class="c1 c9">docker</span><span class="c1">&nbsp;</span><span class="c1 c9">exec</span><span class="c1">&nbsp;broker </span><span class="c1 c4">\</span></p><p class="c12"><span class="c1">kafka-topics --bootstrap-server broker:9092 </span><span class="c1 c4">\</span></p><p class="c12"><span class="c1">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;--create </span><span class="c1 c4">\</span></p><p class="c12"><span class="c1 c3 c8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;--topic quickstart</span></p><p class="c10"><span class="c0"></span></p><p class="c12"><span class="c0">Hvor jeg s&aring; kunne skrive beskeder via f&oslash;lgende kommando:</span></p><p class="c12"><span class="c1 c9">docker</span><span class="c1">&nbsp;</span><span class="c1 c9">exec</span><span class="c1">&nbsp;--interactive --tty broker </span><span class="c1 c4">\</span></p><p class="c12"><span class="c1">kafka-console-producer --bootstrap-server broker:9092 </span><span class="c1 c4">\</span></p><p class="c5"><span class="c1 c3 c8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;--topic quickstart</span></p><p class="c12"><span class="c0">Som jeg s&aring; kunne l&aelig;se via f&oslash;lgende kommando:</span></p><p class="c12"><span class="c1 c9">docker</span><span class="c1">&nbsp;</span><span class="c1 c9">exec</span><span class="c1">&nbsp;--interactive --tty broker </span><span class="c1 c4">\</span></p><p class="c12"><span class="c1">kafka-console-consumer --bootstrap-server broker:9092 </span><span class="c1 c4">\</span></p><p class="c12"><span class="c1">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;--topic quickstart </span><span class="c1 c4">\</span></p><p class="c5"><span class="c1 c3 c8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;--from-beginning</span></p><p class="c10"><span class="c0"></span></p><p class="c12"><span class="c0">S&aring; efter jeg var f&aelig;rdig s&aring; skrev jeg f&oslash;lgende:</span></p><p class="c5"><span class="c1 c3 c8">docker-compose down</span></p><p class="c10"><span class="c0"></span></p>
</div>