@{
    Layout = "_Subpages";
}
<style type="text/css">
    ol {
        margin: 0;
        padding: 0
    }

    table td, table th {
        padding: 0
    }

    .c6 {
        background-color: #303134;
        color: #e8eaed;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 21pt;
        font-family: "Arial";
        font-style: normal
    }

    .c2 {
        padding-top: 18pt;
        padding-bottom: 6pt;
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .c9 {
        background-color: #ffffff;
        padding-top: 72pt;
        padding-bottom: -9pt;
        line-height: 0.9130434782608695;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .c5 {
        padding-top: 20pt;
        padding-bottom: 6pt;
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .c10 {
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 20pt;
        font-family: "Arial";
        font-style: normal
    }

    .c0 {
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 11pt;
        font-family: "Arial";
        font-style: normal
    }

    .c7 {
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 16pt;
        font-family: "Arial";
        font-style: normal
    }

    .c1 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .c8 {
        padding-top: -1pt;
        padding-bottom: -1pt;
        line-height: 1.2857142857142858;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .c4 {
        background-color: #ffffff;
        max-width: 451.4pt;
        padding: 72pt 72pt 72pt 72pt
    }

    .c3 {
        height: 11pt
    }

    .title {
        padding-top: 0pt;
        color: #000000;
        font-size: 26pt;
        padding-bottom: 3pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .subtitle {
        padding-top: 0pt;
        color: #666666;
        font-size: 15pt;
        padding-bottom: 16pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    li {
        color: #000000;
        font-size: 11pt;
        font-family: "Arial"
    }

    p {
        margin: 0;
        color: #000000;
        font-size: 11pt;
        font-family: "Arial"
    }

    h1 {
        padding-top: 20pt;
        color: #000000;
        font-size: 20pt;
        padding-bottom: 6pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h2 {
        padding-top: 18pt;
        color: #000000;
        font-size: 16pt;
        padding-bottom: 6pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h3 {
        padding-top: 16pt;
        color: #434343;
        font-size: 14pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h4 {
        padding-top: 14pt;
        color: #666666;
        font-size: 12pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h5 {
        padding-top: 12pt;
        color: #666666;
        font-size: 11pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h6 {
        padding-top: 12pt;
        color: #666666;
        font-size: 11pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        font-style: italic;
        orphans: 2;
        widows: 2;
        text-align: left
    }
</style>
<div class="c4">
    <h1 class="c5" id="h.wifjv2cr8o31"> <span class="c10"> Topics + partitions</span> </h1> <h2 class="c2" id="h.axbh1ax26bo9"> <span class="c7"> Events, Streams, and Kafka Topics</span> </h2> <p class="c1"> <span class="c0"> S&aring; lad os se p&aring; nogle begreber p&aring; h&oslash;jt niveau, og hvordan de relaterer til partitioner.</span> </p> <p class="c1 c3"> <span class="c0"> </span> </p> <p class="c1"> <span class="c0"> Events</span> </p> <p class="c1"> <span class="c0"> En event repr&aelig;senterer en kendsgerning, der skete i fortiden. Begivenheder er uforanderlige og bliver aldrig p&aring; &eacute;t sted. De rejser altid fra et system til et andet system og b&aelig;rer de tilstands&aelig;ndringer, der skete.</span> </p> <p class="c1 c3"> <span class="c0"> </span> </p> <h2 class="c2" id="h.k99hilghr78j"> <span class="c7"> Streams</span> </h2> <p class="c1"> <span class="c0"> En stream repr&aelig;senterer relatede events &nbsp;i bev&aelig;gelse.</span> </p> <p class="c8 c3"> <span class="c6"> </span> </p> <h2 class="c2" id="h.e1fi1y581qj9"> <span class="c7"> Topics</span> </h2> <p class="c1"> <span class="c0"> N&aring;r en event stream kommer ind i Kafka, bliver den fremvist som et topic. I Kafkas univers er et emne en materialiseret event stream. Med andre ord er et emne en stream i hvile.</span> </p> <p class="c1 c3"> <span class="c0"> </span> </p> <p class="c1"> <span class="c0"> Topic samler relaterede events sammen og lagrer dem varigt. Den n&aelig;rmeste analogi for et Kafka-emne er en tabel i en database eller mappe i et filsystem.</span> </p> <p class="c1 c3"> <span class="c0"> </span> </p> <p class="c1"> <span class="c0"> Topics er det centrale koncept i Kafka, der afkobler producenter og forbrugere. En forbruger tr&aelig;kker budskaber ud af et Kafka-emne, mens producenter skubber budskaber ind i et Kafka-emne. Et emne kan have mange producenter og mange forbrugere.</span> </p> <p class="c8"> <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 601.70px; height: 224.00px;"> <img alt="" src="~/images/Setup/image7.png" style="width: 601.70px; height: 224.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""> </span> </p> <p class="c8 c3"> <span class="c6"> </span> </p> <p class="c1 c3"> <span class="c0"> </span> </p> <h2 class="c2" id="h.u6zs5i5extik"> <span class="c7"> Partitions</span> </h2> <p class="c1"> <span class="c0"> Kafkas Topic er opdelt i flere partitioner. Mens topic er et logisk koncept i Kafka, er en partition den mindste lagerenhed, der har en delm&aelig;ngde af poster, der ejes af et emne. Hver partition er en enkelt logfil, hvor poster skrives til den p&aring; en m&aring;de, der kun kan tilf&oslash;jes.</span> </p> <p class="c1"> <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 561.00px; height: 297.00px;"> <img alt="" src="~/images/Setup/image6.png" style="width: 561.00px; height: 297.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""> </span> </p> <p class="c1 c3"> <span class="c0"> </span> </p> <h2 class="c9" id="h.v4e8an2x49b"> <span class="c7"> Offsets og orden af beskeder</span> </h2> <p class="c1"> <span class="c0"> Posterne i partitionerne er hver tildelt en sekventiel identifikator kaldet offset, som er unik for hver post i partitionen.</span> </p> <p class="c1 c3"> <span class="c0"> </span> </p> <p class="c1"> <span class="c0"> Forskydningen er et trinvist og uforanderligt tal, vedligeholdt af Kafka. N&aring;r en post skrives til en partition, tilf&oslash;jes den til slutningen af &#8203;&#8203;loggen og tildeles den n&aelig;ste sekventielle offset. Offsets er is&aelig;r nyttige for forbrugere, n&aring;r de l&aelig;ser poster fra en partition.</span> </p> <p class="c1 c3"> <span class="c0"> </span> </p> <p class="c1"> <span class="c0"> Figuren nedenfor viser et emne med tre partitioner. Optegnelser f&oslash;jes til slutningen af &#8203;&#8203;hver enkelt.</span> </p> <p class="c1"> <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 601.70px; height: 508.00px;"> <img alt="" src="~/images/Setup/image5.png" style="width: 601.70px; height: 508.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""> </span> </p> <p class="c1"> <span class="c0"> Selvom beskederne i en partition er ordnet, er det ikke garanteret, at beskeder p&aring; tv&aelig;rs af et emne bliver ordnet.</span> </p> <p class="c1 c3"> <span class="c0"> </span> </p> <p class="c1 c3"> <span class="c0"> </span> </p> <p class="c1 c3"> <span class="c0"> </span> </p>
</div>
