@{
    Layout = "_Subpages";
}
<style type="text/css">
    ol {
        margin: 0;
        padding: 0
    }

    table td, table th {
        padding: 0
    }

    .c0 {
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 11pt;
        font-family: "Arial";
        font-style: normal
    }

    .c5 {
        padding-top: 20pt;
        padding-bottom: 6pt;
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .c7 {
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 20pt;
        font-family: "Arial";
        font-style: normal
    }

    .c1 {
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 16pt;
        font-family: "Arial";
        font-style: normal
    }

    .c3 {
        padding-top: 18pt;
        padding-bottom: 6pt;
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .c2 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .c8 {
        background-color: #ffffff;
        max-width: 451.4pt;
        padding: 72pt 72pt 72pt 72pt
    }

    .c6 {
        height: 16pt
    }

    .c4 {
        height: 11pt
    }

    .title {
        padding-top: 0pt;
        color: #000000;
        font-size: 26pt;
        padding-bottom: 3pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .subtitle {
        padding-top: 0pt;
        color: #666666;
        font-size: 15pt;
        padding-bottom: 16pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    li {
        color: #000000;
        font-size: 11pt;
        font-family: "Arial"
    }

    p {
        margin: 0;
        color: #000000;
        font-size: 11pt;
        font-family: "Arial"
    }

    h1 {
        padding-top: 20pt;
        color: #000000;
        font-size: 20pt;
        padding-bottom: 6pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h2 {
        padding-top: 18pt;
        color: #000000;
        font-size: 16pt;
        padding-bottom: 6pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h3 {
        padding-top: 16pt;
        color: #434343;
        font-size: 14pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h4 {
        padding-top: 14pt;
        color: #666666;
        font-size: 12pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h5 {
        padding-top: 12pt;
        color: #666666;
        font-size: 11pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h6 {
        padding-top: 12pt;
        color: #666666;
        font-size: 11pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        font-style: italic;
        orphans: 2;
        widows: 2;
        text-align: left
    }
</style>
<div class="c8">
    <h1 class="c5" id="h.ja6agp29vih3"><span class="c7">Uge 10</span></h1><h2 class="c3" id="h.5x97h39qp54x"><span class="c1">Mandag:</span></h2><p class="c2"><span class="c0">Mandag gik p&aring; m&oslash;de med vores PO, hvor vi gennemgik en lille prototype i Unity. Der fremviste at man kunne &aring;bne og lukke forskellige keywords, som vores PO synes var et godt fremskridt.</span></p><h2 class="c3" id="h.b5wcxhkpx8ib"><span class="c1">Tirsdag:</span></h2><p class="c2"><span class="c0">Tirsdag gik med at jeg begyndte at l&aelig;se op p&aring; de forskellige sektioner i en Data Lake. Hvor jeg begyndte at l&aelig;se op p&aring; bronzezonen (En data Lake er somregel ikke opdelt i konkrete zoner, men mere for at man forst&aring;r hvad der sker nede i en data lake). Bronzezonen er der hvor alt det &ldquo;r&aring;&rdquo; data ligger, </span></p><h2 class="c3" id="h.7abyq3u2bhqk"><span class="c1">Onsdag:</span></h2><p class="c2"><span class="c0">Arbejdsdag med gruppen.</span></p><p class="c2 c4"><span class="c0"></span></p><h2 class="c3" id="h.z5jk705y8rfu"><span class="c1">Torsdag:</span></h2><p class="c2"><span class="c0">L&aelig;ste videre med Kurset i IT-sikkerhed</span></p><h2 class="c3" id="h.p0o1r8qppo5c"><span class="c1">Fredag:</span></h2><p class="c2"><span class="c0">L&aelig;ste op p&aring; Data Lake i bogen: Data Lakes For Dummies</span></p><h2 class="c3 c6" id="h.w7d1kdz4seb4"><span class="c1"></span></h2><p class="c2 c4"><span class="c0"></span></p><p class="c2 c4"><span class="c0"></span></p>

</div>