@{
    Layout = "_Subpages";
}
<style type="text/css">
    ol {
        margin: 0;
        padding: 0
    }

    table td, table th {
        padding: 0
    }

    .c3 {
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 11pt;
        font-family: "Arial";
        font-style: normal
    }

    .c2 {
        padding-top: 20pt;
        padding-bottom: 6pt;
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .c0 {
        padding-top: 18pt;
        padding-bottom: 6pt;
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .c5 {
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 16pt;
        font-family: "Arial";
        font-style: normal
    }

    .c9 {
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 20pt;
        font-family: "Arial";
        font-style: normal
    }

    .c6 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: center
    }

    .c1 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .c7 {
        text-decoration-skip-ink: none;
        -webkit-text-decoration-skip: none;
        font-style: italic;
        color: #1155cc;
        text-decoration: underline
    }

    .c8 {
        background-color: #ffffff;
        max-width: 451.4pt;
        padding: 72pt 72pt 72pt 72pt
    }

    .c10 {
        color: inherit;
        text-decoration: inherit
    }

    .c4 {
        height: 11pt
    }

    .title {
        padding-top: 0pt;
        color: #000000;
        font-size: 26pt;
        padding-bottom: 3pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .subtitle {
        padding-top: 0pt;
        color: #666666;
        font-size: 15pt;
        padding-bottom: 16pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    li {
        color: #000000;
        font-size: 11pt;
        font-family: "Arial"
    }

    p {
        margin: 0;
        color: #000000;
        font-size: 11pt;
        font-family: "Arial"
    }

    h1 {
        padding-top: 20pt;
        color: #000000;
        font-size: 20pt;
        padding-bottom: 6pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h2 {
        padding-top: 18pt;
        color: #000000;
        font-size: 16pt;
        padding-bottom: 6pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h3 {
        padding-top: 16pt;
        color: #434343;
        font-size: 14pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h4 {
        padding-top: 14pt;
        color: #666666;
        font-size: 12pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h5 {
        padding-top: 12pt;
        color: #666666;
        font-size: 11pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h6 {
        padding-top: 12pt;
        color: #666666;
        font-size: 11pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        font-style: italic;
        orphans: 2;
        widows: 2;
        text-align: left
    }
</style>
<div class="c8">
    <h1 class="c2" id="h.ja6agp29vih3"><span class="c9">Uge 12</span></h1><h2 class="c0" id="h.u1pfmgbwzk8r"><span class="c5">Mandag:</span></h2><p class="c1"><span class="c3">Da jeg m&oslash;dte op p&aring; skolen i dag, fik produktgruppe en mail fra vores PO om at han ikke kunne komme til m&oslash;de i dag. S&aring; i stedet blev i dag bare en selvl&aelig;ring dag med m&oslash;der. </span></p><p class="c1"><span class="c3">Vi fik lavet f&oslash;lgende billede, der fremviser en overordnet conceptuel designmodel over vores system:</span></p><p class="c6"><span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 469.50px; height: 351.74px;"><img alt="" src="~/images/image4.png" style="width: 469.50px; height: 351.74px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span></p><p class="c6"><span>Som i kan se p&aring; nedest&aring;ende billede, s&aring; l&aelig;rte jeg ogs&aring; omkring object storage</span><span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 536.00px; height: 262.00px;"><img alt="" src="~/images/image3.png" style="width: 536.00px; height: 262.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span></p><p class="c1"><span class="c3">Hvor jeg fandt ud af at object storage er generelt set bare en m&aring;de at gennem filer p&aring;. Filerne bliver gemt kun ud fra metadata, data og titel p&aring; selve filen. Det g&oslash;r at selve opbevaringen af filerne er meget nemt og det er nemt at hente filerne igen, dog kan det v&aelig;re meget uoverskueligt da man skal finde data p&aring; en fil kun ud fra metadata og filnavnet. Hvilket er n&aelig;sten modsat filestorage, hvor at alle filer er lagt ind i mapper. Der g&oslash;r det mere struktureret, dog er det sv&aelig;rere at hente individuelle filer. Filestorage er ogs&aring; noget som linux og Windows g&oslash;r brug af, hvor at noget som Amazon S3 og Mino g&oslash;r brug af object storage.</span></p><h2 class="c0" id="h.s4idmsj1iiel"><span class="c5">Tirsdag:</span></h2><p class="c1"><span>Hvilket er grunden til at jeg i dag begyndte at l&aelig;re omkring pandas p&aring; </span><span class="c7"><a class="c10" href="https://www.google.com/url?q=http://kaggle.com&amp;sa=D&amp;source=editors&amp;ust=1652081030994697&amp;usg=AOvVaw1G73I1RyekLew15tE-yEpC">kaggle.com</a></span><span class="c3">. Da kaggle.com er en hjemmeside designet til data specialister, hvor man l&aelig;rer at udtr&aelig;kke, raffinere og benytte data til unders&oslash;gelse. Hvor jeg brugte noget af tiden p&aring; at l&aelig;re omkring pandas libraries i python, der er god til dataanalyse.</span></p><p class="c1"><span>Under </span><span>kaggles</span><span class="c3">&nbsp;kurser p&aring; pandas fik jeg gennemg&aring;et Creating, Reading og Writing, Indexing, Selecting og Assigning, Summary Function and Maps. </span></p><p class="c1 c4"><span class="c3"></span></p><h2 class="c0" id="h.o8esg1ww77p8"><span class="c5">Onsdag:</span></h2><p class="c1 c4"><span class="c3"></span></p><p class="c1"><span class="c3">Aftale med min produktgruppe at g&aring; ud og socialisere med dem onsdag, da det sociale i gruppen er ogs&aring; noget der skal prioteres for at sikre respekten i teamet.</span></p><h2 class="c0" id="h.4vnwjp4gaikf"><span class="c5">Torsdag:</span></h2><p class="c1"><span class="c3">Fik gennemg&aring;et resten af opgaverne p&aring; kaggle.com</span></p><h2 class="c0" id="h.gedl8hl28ln9"><span class="c5">Fredag:</span></h2><p class="c1"><span class="c3">Fredag gik p&aring; ingenting.</span></p>


</div>