@{
    Layout = "_Subpages";
}
<style type="text/css">
    ol {
        margin: 0;
        padding: 0
    }

    table td, table th {
        padding: 0
    }

    .c12 {
        padding-top: 18pt;
        padding-bottom: 6pt;
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
        height: 16pt
    }

    .c1 {
        background-color: #1e1e1e;
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.3571428571428572;
        orphans: 2;
        widows: 2;
        text-align: left;
        height: 11pt
    }

    .c5 {
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 11pt;
        font-family: "Arial";
        font-style: normal
    }

    .c2 {
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 26pt;
        font-family: "Arial";
        font-style: normal
    }

    .c15 {
        padding-top: 18pt;
        padding-bottom: 6pt;
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .c4 {
        background-color: #1e1e1e;
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.3571428571428572;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .c19 {
        padding-top: 0pt;
        padding-bottom: 3pt;
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: center
    }

    .c14 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .c7 {
        font-size: 10.5pt;
        font-family: "Courier New";
        color: #569cd6;
        font-weight: 400
    }

    .c11 {
        color: #000000;
        font-weight: 400;
        font-size: 16pt;
        font-family: "Arial"
    }

    .c9 {
        font-size: 10.5pt;
        font-family: "Courier New";
        color: #ce9178;
        font-weight: 400
    }

    .c18 {
        font-size: 10.5pt;
        font-family: "Courier New";
        color: #4ec9b0;
        font-weight: 400
    }

    .c16 {
        font-size: 10.5pt;
        font-family: "Courier New";
        color: #b5cea8;
        font-weight: 400
    }

    .c8 {
        color: #6a9955;
        font-weight: 400;
        font-size: 10.5pt;
        font-family: "Courier New"
    }

    .c3 {
        font-size: 10.5pt;
        font-family: "Courier New";
        color: #9cdcfe;
        font-weight: 400
    }

    .c10 {
        color: #c586c0;
        font-weight: 400;
        font-size: 10.5pt;
        font-family: "Courier New"
    }

    .c13 {
        font-size: 10.5pt;
        font-family: "Courier New";
        color: #dcdcaa;
        font-weight: 400
    }

    .c0 {
        font-size: 10.5pt;
        font-family: "Courier New";
        color: #d4d4d4;
        font-weight: 400
    }

    .c20 {
        background-color: #ffffff;
        max-width: 451.4pt;
        padding: 72pt 72pt 72pt 72pt
    }

    .c6 {
        text-decoration: none;
        vertical-align: baseline;
        font-style: normal
    }

    .c17 {
        height: 11pt
    }

    .title {
        padding-top: 0pt;
        color: #000000;
        font-size: 26pt;
        padding-bottom: 3pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .subtitle {
        padding-top: 0pt;
        color: #666666;
        font-size: 15pt;
        padding-bottom: 16pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    li {
        color: #000000;
        font-size: 11pt;
        font-family: "Arial"
    }

    p {
        margin: 0;
        color: #000000;
        font-size: 11pt;
        font-family: "Arial"
    }

    h1 {
        padding-top: 20pt;
        color: #000000;
        font-size: 20pt;
        padding-bottom: 6pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h2 {
        padding-top: 18pt;
        color: #000000;
        font-size: 16pt;
        padding-bottom: 6pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h3 {
        padding-top: 16pt;
        color: #434343;
        font-size: 14pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h4 {
        padding-top: 14pt;
        color: #666666;
        font-size: 12pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h5 {
        padding-top: 12pt;
        color: #666666;
        font-size: 11pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h6 {
        padding-top: 12pt;
        color: #666666;
        font-size: 11pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        font-style: italic;
        orphans: 2;
        widows: 2;
        text-align: left
    }
</style>
<div class="c20" style="width:100%">
    <p class="c19 title" id="h.5x97h39qp54x"><span class="c2">Uge 14</span></p><h2 class="c15" id="h.qpfveoosbc9j"><span class="c11 c6">Mandag:</span></h2><p class="c14"><span class="c5">I dag var jeg til m&oslash;de med Christian (PO) , hvor vi gennemgik hvad vi havde lavet de sidste 4 uger. Han synes det gik godt fremad og blev godt overrasket da vi fremviste de tanker som vi havde gennemt&aelig;nkt. &nbsp;Fx f&oslash;lgende billede:</span></p><p class="c14"><span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 601.70px; height: 450.67px;"><img alt="" src="~/images/image5.png" style="width: 601.70px; height: 450.67px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span></p><p class="c14"><span class="c5">Hvor vi gennemgik hvad vi individuelt arbejdede p&aring; og hvordan vi ville arbejde fremadrettet.</span></p><p class="c14"><span class="c5">Desuden fik jeg sammensat en RESTAPI, der via en get sender en base64 string til vores hjemmeside ud fra f&oslash;lgende python kode:</span></p><p class="c14 c17"><span class="c5"></span></p><p class="c4"><span class="c3">app</span><span class="c0">&nbsp;= </span><span class="c18">FastAPI</span><span class="c0 c6">()</span></p><p class="c1"><span class="c0 c6"></span></p><p class="c4"><span class="c3">origins</span><span class="c0 c6">&nbsp;= [</span></p><p class="c4"><span class="c0">&nbsp; &nbsp; </span><span class="c9">&quot;http://localhost:8080&quot;</span><span class="c0 c6">,</span></p><p class="c4"><span class="c0 c6">]</span></p><p class="c4"><span class="c3">app</span><span class="c0">.</span><span class="c13">add_middleware</span><span class="c0 c6">(</span></p><p class="c4"><span class="c0">&nbsp; &nbsp; </span><span class="c18">CORSMiddleware</span><span class="c0 c6">,</span></p><p class="c4"><span class="c0">&nbsp; &nbsp; </span><span class="c3">allow_origins</span><span class="c0">=</span><span class="c3">origins</span><span class="c0 c6">,</span></p><p class="c4"><span class="c0">&nbsp; &nbsp; </span><span class="c3">allow_credentials</span><span class="c0">=</span><span class="c7">True</span><span class="c0 c6">,</span></p><p class="c4"><span class="c0">&nbsp; &nbsp; </span><span class="c3">allow_methods</span><span class="c0">=[</span><span class="c9">&quot;*&quot;</span><span class="c0 c6">],</span></p><p class="c4"><span class="c0">&nbsp; &nbsp; </span><span class="c3">allow_headers</span><span class="c0">=[</span><span class="c9">&quot;*&quot;</span><span class="c0 c6">],</span></p><p class="c4"><span class="c0 c6">)</span></p><p class="c1"><span class="c0 c6"></span></p><p class="c4"><span class="c13"></span><span class="c3">app</span><span class="c13">.get</span><span class="c0">(</span><span class="c9">&quot;/files&quot;</span><span class="c0">, </span><span class="c3">status_code</span><span class="c0">=</span><span class="c16">200</span><span class="c0 c6">)</span></p><p class="c4"><span class="c7">async</span><span class="c0">&nbsp;</span><span class="c7">def</span><span class="c0">&nbsp;</span><span class="c13">return_Pdf</span><span class="c0 c6">():</span></p><p class="c4"><span class="c0">&nbsp; &nbsp; </span><span class="c3">base_path</span><span class="c0">&nbsp;= </span><span class="c18">Path</span><span class="c0">(</span><span class="c3">__file__</span><span class="c0">).</span><span class="c3 c6">parent</span></p><p class="c4"><span class="c0">&nbsp; &nbsp; </span><span class="c3">files_path</span><span class="c0">&nbsp;= (</span><span class="c3">base_path</span><span class="c0">&nbsp;/ </span><span class="c9">&quot;../app/Files/W&ouml;ldike_1set.pdf&quot;</span><span class="c0">).</span><span class="c13">resolve</span><span class="c0 c6">()</span></p><p class="c4"><span class="c0">&nbsp; &nbsp; </span><span class="c10">return</span><span class="c0">&nbsp;</span><span class="c10">await</span><span class="c0">&nbsp;</span><span class="c18">base64</span><span class="c0">.</span><span class="c13">b64encode</span><span class="c0">(</span><span class="c13">open</span><span class="c0">(</span><span class="c3">files_path</span><span class="c0">, </span><span class="c9">&#39;rb&#39;</span><span class="c0">).</span><span class="c13">read</span><span class="c0 c6">())</span></p><p class="c1"><span class="c6 c10"></span></p><p class="c14 c17"><span class="c5"></span></p><p class="c14"><span class="c5">Der s&aring; blev hentet i vores javascript af f&oslash;lgende kode:</span></p><p class="c14 c17"><span class="c5"></span></p><p class="c1"><span class="c6 c8"></span></p><p class="c4"><span class="c8 c6">// This function gets a Message from the API</span></p><p class="c4"><span class="c8 c6">// and convert the message into a readable format, which can be presented in the view</span></p><p class="c4"><span class="c7">function</span><span class="c0">&nbsp;</span><span class="c13">sendMessage</span><span class="c0 c6">(){</span></p><p class="c4"><span class="c0">&nbsp; &nbsp; </span><span class="c3">$</span><span class="c0">.</span><span class="c13">ajax</span><span class="c0 c6">({</span></p><p class="c4"><span class="c0">&nbsp; &nbsp; &nbsp; &nbsp; </span><span class="c3">url:</span><span class="c0">&nbsp;</span><span class="c9">&quot;http://127.0.0.1:8000/files&quot;</span><span class="c0 c6">,</span></p><p class="c4"><span class="c0">&nbsp; &nbsp; &nbsp; &nbsp; </span><span class="c3">type:</span><span class="c0">&nbsp;</span><span class="c9">&quot;GET&quot;</span><span class="c0 c6">,</span></p><p class="c4"><span class="c0">&nbsp; &nbsp; &nbsp; &nbsp; </span><span class="c13">success</span><span class="c3">:</span><span class="c0">&nbsp;</span><span class="c7">function</span><span class="c0">&nbsp;(</span><span class="c3">result</span><span class="c0 c6">) {</span></p><p class="c4"><span class="c0">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span><span class="c7">var</span><span class="c0">&nbsp;</span><span class="c3">arraybuf</span><span class="c0">&nbsp;= </span><span class="c13">base64ToArrayBuffer</span><span class="c0">(</span><span class="c3">result</span><span class="c0 c6">);</span></p><p class="c4"><span class="c0">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span><span class="c7">var</span><span class="c0">&nbsp;</span><span class="c3">blob</span><span class="c0">&nbsp;= </span><span class="c7">new</span><span class="c0">&nbsp;</span><span class="c18">Blob</span><span class="c0">([</span><span class="c3">arraybuf</span><span class="c0">], {</span><span class="c3">type:</span><span class="c0">&nbsp;</span><span class="c9">&quot;application/pdf&quot;</span><span class="c0 c6">});</span></p><p class="c4"><span class="c0">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span><span class="c7">var</span><span class="c0">&nbsp;</span><span class="c3">newelement</span><span class="c0">&nbsp;= </span><span class="c3">window</span><span class="c0">.</span><span class="c18">URL</span><span class="c0">.</span><span class="c13">createObjectURL</span><span class="c0">(</span><span class="c3">blob</span><span class="c0 c6">);</span></p><p class="c4"><span class="c0">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span><span class="c3">document</span><span class="c0">.</span><span class="c13">getElementById</span><span class="c0">(</span><span class="c9">&quot;WebGl&quot;</span><span class="c0">).</span><span class="c3">src</span><span class="c0">&nbsp;= </span><span class="c3">newelement</span><span class="c0 c6">;</span></p><p class="c4"><span class="c0 c6">&nbsp; &nbsp; &nbsp; &nbsp; },</span></p><p class="c4"><span class="c0">&nbsp; &nbsp; &nbsp; &nbsp; </span><span class="c13">error</span><span class="c3">:</span><span class="c0">&nbsp;</span><span class="c7">function</span><span class="c0">&nbsp;(</span><span class="c3">error</span><span class="c0 c6">) {</span></p><p class="c4"><span class="c0">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span><span class="c13">alert</span><span class="c0">(</span><span class="c9">&quot;error&quot;</span><span class="c0 c6">);</span></p><p class="c4"><span class="c0">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span><span class="c3">console</span><span class="c0">.</span><span class="c13">log</span><span class="c0">(</span><span class="c3">error</span><span class="c0 c6">);</span></p><p class="c4"><span class="c0 c6">&nbsp; &nbsp; &nbsp; &nbsp; }</span></p><p class="c4"><span class="c0 c6">&nbsp; &nbsp; })</span></p><p class="c1"><span class="c0 c6"></span></p><p class="c4"><span class="c0 c6">}</span></p><p class="c14 c17"><span class="c5"></span></p><h2 class="c12" id="h.b5wcxhkpx8ib"><span class="c11 c6"></span></h2><h2 class="c15" id="h.bgb58d6amik"><span class="c6 c11">Tirsdag:</span></h2><p class="c14"><span class="c5">L&aelig;ste op p&aring; Kafka, da jeg gerne ville bygge et program ud fra kafka. Dog har jeg indset at jeg skal l&aelig;se op p&aring; microservices i forhold til udarbejdelse af en god fundamental struktur for min data lake.</span></p><h2 class="c15" id="h.7abyq3u2bhqk"><span class="c11 c6">Onsdag:</span></h2><p class="c14"><span class="c5">Projektdag med gruppen.</span></p><p class="c14 c17"><span class="c5"></span></p><h2 class="c15" id="h.z5jk705y8rfu"><span class="c11 c6">Torsdag:</span></h2><p class="c14"><span class="c5">L&aelig;ste op p&aring; cryptograpfi og netv&aelig;rk i IT-sikkerhed, har dog indset at jeg gerne vil l&aelig;se omkring noget jeg kan bruge mere praktisk orienteret.</span></p><h2 class="c15" id="h.3ruf4y3907m1"><span class="c11 c6">Fredag:</span></h2><p class="c14"><span class="c5">L&aelig;ste mere op p&aring; kafka.</span></p><h2 class="c12" id="h.ja5ukdt6ir6h"><span class="c11 c6"></span></h2>

</div>