@{ 
    Layout = "_Subpages";
}
<style type="text/css">
    ol {
        margin: 0;
        padding: 0
    }

    table td, table th {
        padding: 0
    }

    .c12 {
        background-color: #303134;
        color: #e8eaed;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 21pt;
        font-family: "Arial";
        font-style: normal
    }

    .c14 {
        padding-top: 14pt;
        padding-bottom: 4pt;
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .c8 {
        color: #666666;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 12pt;
        font-family: "Arial";
        font-style: normal
    }

    .c0 {
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 11pt;
        font-family: "Arial";
        font-style: normal
    }

    .c9 {
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 16pt;
        font-family: "Arial";
        font-style: normal
    }

    .c11 {
        color: #434343;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 14pt;
        font-family: "Arial";
        font-style: normal
    }

    .c10 {
        padding-top: 18pt;
        padding-bottom: 6pt;
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .c3 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: left;
        height: 11pt
    }

    .c4 {
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 12pt;
        font-family: "Arial";
        font-style: normal
    }

    .c2 {
        padding-top: 20pt;
        padding-bottom: 6pt;
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .c7 {
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 20pt;
        font-family: "Arial";
        font-style: normal
    }

    .c6 {
        padding-top: 16pt;
        padding-bottom: 4pt;
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .c5 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .c13 {
        background-color: #ffffff;
        max-width: 451.4pt;
        padding: 72pt 72pt 72pt 72pt
    }

    .c1 {
        font-weight: 700
    }

    .title {
        padding-top: 0pt;
        color: #000000;
        font-size: 26pt;
        padding-bottom: 3pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .subtitle {
        padding-top: 0pt;
        color: #666666;
        font-size: 15pt;
        padding-bottom: 16pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    li {
        color: #000000;
        font-size: 11pt;
        font-family: "Arial"
    }

    p {
        margin: 0;
        color: #000000;
        font-size: 11pt;
        font-family: "Arial"
    }

    h1 {
        padding-top: 20pt;
        color: #000000;
        font-size: 20pt;
        padding-bottom: 6pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h2 {
        padding-top: 18pt;
        color: #000000;
        font-size: 16pt;
        padding-bottom: 6pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h3 {
        padding-top: 16pt;
        color: #434343;
        font-size: 14pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h4 {
        padding-top: 14pt;
        color: #666666;
        font-size: 12pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h5 {
        padding-top: 12pt;
        color: #666666;
        font-size: 11pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h6 {
        padding-top: 12pt;
        color: #666666;
        font-size: 11pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        font-style: italic;
        orphans: 2;
        widows: 2;
        text-align: left
    }
</style>

<div class="c13">
    <h1 class="c2" id="h.qsfgnrer8yci"><span class="c7">Inden du l&aelig;ser videre:</span></h1><p class="c5"><span class="c0">Jeg kommer ikke ind p&aring; selve udf&oslash;relsen af data governance, da det afh&aelig;nger fra virksomhed til virksomhed, jeg g&aring;r igennem de vigtige begreber indenfor data governance. Samt vedh&aelig;fter et fors&oslash;g p&aring; en data governance politik, som jeg pr&oslash;vede at lave i forbindelse med udviklingen af produktet.</span></p><h1 class="c2" id="h.kf0m8lrb8b5s"><span class="c7">Data Governance</span></h1><p class="c5"><span class="c4">Data governance omhandler processen om at sikre at ens data er tilg&aelig;ngeligt, dataen brugbart, dataen har integritet (Har kvalitet) og dataen er sikker. Denne process er baseret p&aring; interne data standard og politikker som kontrollere data brug. Derfor et led i Data Governance kan v&aelig;re hvordan man har overholdt GDPR, et data flow diagram der fremviser data processerne i ens system eller bare et helt normalt objekt / dom&aelig;nemodel. Da den fremviser (ud fra et forretningssynspunkt) dataen i vores system og hvordan det bliver grupperet. Dermed s&oslash;rger man for at data-kvaliteten stiger da dataen er beregnet til den drift.</span></p><p class="c5"><span class="c4">Som du kan se p&aring; nedenst&aring;ende billede, s&aring; er det alle elementer i data governance som DAMA har illustreret:</span></p><p class="c5"><span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 601.70px; height: 601.33px;"><img alt="" src="~/images/data/image1.png" style="width: 601.70px; height: 601.33px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span></p><p class="c3"><span class="c4"></span></p><p class="c5"><span class="c0">Data Governance s&oslash;rger for at alle i en organisation har et ansvar for den data der bliver benyttet i ens system. Det ansvar kommer igennem diverse roller og politikker, som afh&aelig;nger af virksomhed til virksomhed.</span></p><h2 class="c10" id="h.6rfdxjjt8xgn"><span class="c9">Roller i Data Governance</span></h2><p class="c5"><span>N&aring;r man snakker Data Governance, s&aring; snakker man ogs&aring; omkring specifikke roller som den individuelle har. Da folk f&aring;r inddelt specifikke roller, s&aring; de er bevidste omkring deres ansvarsomr&aring;de i forhold til dataen i system. Der kan v&aelig;re flere roller end dem der bliver n&aelig;vnt her og nu, da det kommer an p&aring; den givne virksomhed om hvilke roller der bliver sagt i brugt. En af de mest typiske roller er Data Owners. Da &nbsp;</span><span class="c1">Data Owners</span><span>&nbsp;er ledere inden i en organisation med en masse ansvar indenfor et specifik data emne omr&aring;de, kunne fx: v&aelig;re Hr. Men da disse ledere har meget travlt, s&aring; er det ikke dem der st&aring;r med ansvaret til daglig. Derfor har Data Owners nogle </span><span class="c1">Data Stewards </span><span class="c0">som s&oslash;rger for at det daglige dataansvar bliver opholdt. Grunden til at der er opsagt disse roller er fordi at dem der til daglig g&oslash;r brug af den data, har bedst muligt indsigt i hvordan den data bliver benyttet og hvordan det muligt kan optimeres. Disse roller s&oslash;rger der for at datakvaliteten i programmet stiger, da dataen i programmet er velegnet til programmets specifikke form&aring;l ud fra det forretningsm&aelig;ssige form&aring;l.</span></p><p class="c3"><span class="c0"></span></p><p class="c3"><span class="c0"></span></p><p class="c5"><span class="c0">&lsquo;</span></p><h2 class="c10" id="h.ryx5mn43awct"><span class="c9">Master Data Management (MDM)</span></h2><p class="c5"><span class="c0">MDM er forretningsprocesser og tekniske l&oslash;sninger der er sigtet imod at lave og opretholde en enkelt kilde til alt det kritiske forretningsdata. Det kan igennem datadefinitioner, datakvalitet, validering af datakvalitet, politikker etc. &nbsp;Det er for at skabe et system, der g&oslash;r det nemmere for Data Owners, Data Stewards etc. at s&oslash;rge for at opretholde og sikre deres data igennem hele organisationen. Derudover kan man via de forretningsprocesser og tekniske l&oslash;sninger finde ud af m&aring;der at optimere eller spare de processer / l&oslash;sninger (p&aring; tid, opretholdelse etc.).</span></p><p class="c3"><span class="c0"></span></p><p class="c3"><span class="c0"></span></p><h3 class="c6" id="h.g5mtcysyckhn"><span class="c11">DataKvalitet</span></h3><p class="c5"><span>N&aring;r man snakker om datakvalitet, s&aring; snakker man om hvor godt dataen passer det givne form&aring;l. Denne m&aring;ling af lavet af datakvalitets analytikere, hvor de g&aring;r igennem dataen for at sikre at der ikke duplikerende v&aelig;rdier. En opgave datakvalitets analytikere kunne have, ville v&aelig;re at udf&oslash;re normalisering p&aring; ens database, for at sikre at alle tabeller er unikke. Eksempler p&aring; problemer med datakvalitet omfatter duplikerede data, ufuldst&aelig;ndige data, inkonsistente data, forkerte data, d&aring;rligt definerede data, d&aring;rligt organiserede data og d&aring;rlig datasikkerhed.</span></p><p class="c3"><span class="c0"></span></p><h4 class="c14" id="h.tcj5mik8tf68"><span class="c8">Data Definition</span></h4><p class="c5"><span class="c0">DataKvalitet starter med klare datadefinitioner. Da kvaliteten af dataen i ens system skal sikres af hele organisationen, s&aring; er man n&oslash;dt til at have en klar beskrivelse af de individuelle termer for at sikre at alle forst&aring;r betydningen. For hvis en IT faglig person pr&oslash;ver at snakke omkring programmets data, s&aring; bliver det mindre forst&aring;eligt end hvis man har lavet et data ordbog, som folk kan sl&aring; op i og dermed benytte de termer p&aring; tv&aelig;rs af hele organisationen. En definitionen burde indeholde et fagord, med en definitionen i forretningssprog, de tekniske detaljer, mulige v&aelig;rdier, Data Owner / Data Steward ansvarlig, Data Klassifikation. Der kan v&aelig;re flere attributter tilh&oslash;rende den enkelte definitionen afh&aelig;ngig af hvem der laver definitionen.</span></p><p class="c3"><span class="c0"></span></p><p class="c3"><span class="c0"></span></p><p class="c3"><span class="c4"></span></p><p class="c3"><span class="c4"></span></p>

</div>