@model EmailViewModel
<!-- NavBar-->
<nav class="navbar">
    <div class="max-width">
        <div class="logo"><a asp-action="index"><span>{</span>RKChrist<span>}</span></a></div>
        <ul class="menu">
            <li><a asp-action="index" asp-fragment="about" asp-controller="home" class="menu-btn">Omkring mig</a></li>
            <li><a asp-action="index" asp-fragment="services" asp-controller="home" class="menu-btn">Ydelser</a></li>
            <li><a href="#skills" class="menu-btn">Færdigheder</a></li>
            <li><a href="#teams" class="menu-btn">Portfølje</a></li>
            <li><a href="#contact" class="menu-btn">Kontakt</a></li>
            @*<li>
                <a onclick="myFunction()" class="dropbtn">Languages</a>
                <div id="myDropdown" class="dropdown-content">
                    <a href="#home">Danish</a>
                    <a href="#about">English</a>
                </div>
            </li>*@
        </ul>
        <div class="menu-btn">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</nav>

<!-- home section start -->
<section class="home" id="home">
    <div class="max-width">
        <div class="home-content">
            <div class="text-1">Hej, mit navn er</div>
            <div class="text-2">Rune Christensen</div>
            <div class="text-3">Og Jeg er en <span class="typing"></span></div>
            <a href="#">Hire me</a>
        </div>
    </div>
    <div style="display:block;">
        <div class="social-icons">
            <ul>
                <li><a href="https://www.facebook.com/rune.kennetchristensen/"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.linkedin.com/in/rune-kennet-christensen/"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://github.com/RKChrist"><i class="fa fa-github"></i></a></li>
            </ul>
        </div>
    </div>
</section>
<!-- about section start -->
<section class="about" id="about">
    <div class="max-width">
        <h2 class="title">Omkring mig</h2>
        <div class="about-content">
            <div class="column left">
                <img src="~/images/Profile.png" alt="ProfilePicture" asp-append-version="true">
            </div>
            <div class="column right">
                <div class="text">Jeg er Rune og jeg er <span class="typing-2"></span></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ut voluptatum eveniet doloremque autem excepturi eaque, sit laboriosam voluptatem nisi delectus. Facere explicabo hic minus accusamus alias fuga nihil dolorum quae. Explicabo illo unde, odio consequatur ipsam possimus veritatis, placeat, ab molestiae velit inventore exercitationem consequuntur blanditiis omnis beatae. Dolor iste excepturi ratione soluta quas culpa voluptatum repudiandae harum non.</p>
                <a href="~/CV - Rune K. Christensen.pdf" download="CV - Rune K. Christensen.pdf">Show CV</a>
            </div>
        </div>
    </div>
</section>
<!--What i provide section -->


<section class="services" id="services">
    <div class="max-width">
        <h2 class="title">Mine ydelser</h2>
        <div class="serv-content">
            <div class="card">
                <div class="box">
                    <i class="fas fa-server"></i>
                    <div class="text">Big Data</div>
                    <p>Opbygning og håndtering af en Big Data Arkitektur.</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <i class="fas fa-drafting-compass"></i>
                    <div class="text">Object-Oriented Design</div>
                    <p>opsætte og vedligeholde et Object Orienteret Design</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <i class="fas fa-shield-alt"></i>
                    <div class="text">IT Sikkerhed</div>
                    <p>sikre forretningshemmligheder og sikre Big Data i ens system</p>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- skills section start -->
<section class="skills" id="skills">
    <div class="max-width">
        <h2 class="title">Mine færdigheder</h2>
        <div class="skills-content">
            <div class="column left">
                <div class="text">Min Færdigheder og Erfaringer.</div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, ratione error est recusandae consequatur, iusto illum deleniti quidem impedit, quos quaerat quis minima sequi. Cupiditate recusandae laudantium esse, harum animi aspernatur quisquam et delectus ipsum quam alias quaerat? Quasi hic quidem illum. Ad delectus natus aut hic explicabo minus quod.</p>
                <a href="#">Read more</a>
            </div>
            <div class="column right">
                <div class="bars">
                    <div class="info">
                        <span>C#</span>
                        <span>80%</span>
                    </div>
                    <div class="line csharp"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>SQL</span>
                        <span>70%</span>
                    </div>
                    <div class="line sql"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>Python</span>
                        <span>60%</span>
                    </div>
                    <div class="line python"></div>
                </div>

                <div class="bars">
                    <div class="info">
                        <span>UML</span>
                        <span>85%</span>
                    </div>
                    <div class="line uml"></div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Portfolio section start -->
<section class="teams" id="teams">
    <div class="max-width">
        <h2 class="title">Portfølje</h2>
        
        <div class="carousel owl-carousel">
            <a asp-action="Portfolio">
                <div class="card">
                    <div class="box">
                        <img class="portCards" src="images/WIP.jpg" alt="">
                        <div class="text">Fjerde Semester</div>
                        <p>Dette er mit portføjle jeg skulle lave på datamatiker uddannelsen</p>
                    </div>
                </div>
            </a>
            <div class="card">
                <div class="box">
                    <img class="portCards" src="~/images/PadelSportDK.png">
                    <div class="text">PadelSport DK</div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img class="portCards" src="~/images/Bravida.png" alt="">
                    <div class="text">Bravida</div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            @*<div class="card">
                <div class="box">
                    <img class="portCards" src="images/profile-3.jpeg" alt="">
                    <div class="text">SurfsUP</div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>*@

            <a asp-action="Portfolio" asp-fragment="container">
                <div class="card">
                    <div class="box">
                        <img class="portCards" src="images/Logbog.png" alt="">
                        <div class="text">Logbog</div>
                        <p>Dette er min logbog for fjerde Semester.</p>
                    </div>
                </div>
            </a>
        </div>
        @*</a>*@

    </div>
</section>
<!-- contact section start -->
<section class="contact" id="contact">
    <div class="max-width">
        <h2 class="title">Kontakt</h2>
        <div class="contact-content">
            <div class="column left">
                <div class="text">Kom i Kontakt</div>
                <p>Ville kunne kontaktes i hverdagene mellem 9 - 15 </p>
                <div class="icons">
                    <div class="row">
                        <i class="fas fa-user"></i>
                        <div class="info">
                            <div class="head">Navn</div>
                            <div class="sub-title">Rune Kennet Christensen</div>
                        </div>
                    </div>
                    <div class="row">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="info">
                            <div class="head">Adresse</div>
                            <div class="sub-title">Odense, Denmark</div>
                        </div>
                    </div>
                    <div class="row">
                        <i class="fas fa-envelope"></i>
                        <div class="info">
                            <div class="head">Email</div>
                            <div class="sub-title">RKChristdev@gmail.com</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column right">
                <div class="text">Message me</div>
                <form method="post" asp-controller="home" asp-action="sendEmail">
                    <div class="fields">
                        <div class="field name">
                            <input type="text" asp-for="Name" placeholder="Navn" required>
                        </div>
                        <div class="field email">
                            <input type="email" asp-for="Email" placeholder="Email" required>
                        </div>
                    </div>
                    <div class="field">
                        <input type="text" asp-for="Subject" placeholder="Emne" required>
                    </div>
                    <div class="field textarea">
                        <textarea cols="30" rows="10" asp-for="Message" placeholder="Besked.." required></textarea>
                    </div>
                    <div class="button-area">
                        <button type="submit" value="Send">Send Besked</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>