@{
    Layout = "_Subpages";
}

<section class="container" id="container">
    <div class="container" style="text-align:center;">
        <h2 class="title ">Oversigt </h2>
        
            <partial name="_TimeLine" />
    </div>

</section>

