@{
    Layout = "_Subpages";
}
<style type="text/css">
        

        .lst-kix_list_2-6 > li:before {
            content: "\0025cf  "
        }

        .lst-kix_list_2-7 > li:before {
            content: "o  "
        }

        ul.lst-kix_list_1-0 {
            list-style-type: none
        }

        .lst-kix_list_2-4 > li:before {
            content: "o  "
        }

        .lst-kix_list_2-5 > li:before {
            content: "\0025aa  "
        }

        .lst-kix_list_2-8 > li:before {
            content: "\0025aa  "
        }

        ul.lst-kix_list_2-8 {
            list-style-type: none
        }

        ul.lst-kix_list_1-3 {
            list-style-type: none
        }

        ul.lst-kix_list_2-2 {
            list-style-type: none
        }

        .lst-kix_list_1-0 > li:before {
            content: "\0025cf  "
        }

        ul.lst-kix_list_1-4 {
            list-style-type: none
        }

        ul.lst-kix_list_2-3 {
            list-style-type: none
        }

        ul.lst-kix_list_1-1 {
            list-style-type: none
        }

        ul.lst-kix_list_2-0 {
            list-style-type: none
        }

        ul.lst-kix_list_1-2 {
            list-style-type: none
        }

        ul.lst-kix_list_2-1 {
            list-style-type: none
        }

        ul.lst-kix_list_1-7 {
            list-style-type: none
        }

        ul.lst-kix_list_2-6 {
            list-style-type: none
        }

        .lst-kix_list_1-1 > li:before {
            content: "o  "
        }

        .lst-kix_list_1-2 > li:before {
            content: "\0025aa  "
        }

        ul.lst-kix_list_1-8 {
            list-style-type: none
        }

        ul.lst-kix_list_2-7 {
            list-style-type: none
        }

        ul.lst-kix_list_1-5 {
            list-style-type: none
        }

        ul.lst-kix_list_2-4 {
            list-style-type: none
        }

        ul.lst-kix_list_1-6 {
            list-style-type: none
        }

        ul.lst-kix_list_2-5 {
            list-style-type: none
        }

        .lst-kix_list_1-3 > li:before {
            content: "\0025cf  "
        }

        .lst-kix_list_1-4 > li:before {
            content: "o  "
        }

        .lst-kix_list_1-7 > li:before {
            content: "o  "
        }

        .lst-kix_list_1-5 > li:before {
            content: "\0025aa  "
        }

        .lst-kix_list_1-6 > li:before {
            content: "\0025cf  "
        }

        li.li-bullet-0:before {
            margin-left: -18pt;
            white-space: nowrap;
            display: inline-block;
            min-width: 18pt
        }

        .lst-kix_list_2-0 > li:before {
            content: "\0025cf  "
        }

        .lst-kix_list_2-1 > li:before {
            content: "o  "
        }

        .lst-kix_list_1-8 > li:before {
            content: "\0025aa  "
        }

        .lst-kix_list_2-2 > li:before {
            content: "\0025aa  "
        }

        .lst-kix_list_2-3 > li:before {
            content: "\0025cf  "
        }

        ol {
            margin: 0;
            padding: 0
        }

        table td, table th {
            padding: 0
        }

        .c1 {
            margin-left: 36pt;
            padding-top: 0pt;
            padding-left: 0pt;
            padding-bottom: 8pt;
            line-height: 1.0791666666666666;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c2 {
            margin-left: 36pt;
            padding-top: 0pt;
            padding-left: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0791666666666666;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c10 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 28pt;
            font-family: "Calibri";
            font-style: normal
        }

        .c4 {
            padding-top: 12pt;
            padding-bottom: 0pt;
            line-height: 1.0791666666666666;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c8 {
            color: #2f5496;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 16pt;
            font-family: "Calibri";
            font-style: normal
        }

        .c0 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Calibri";
            font-style: normal
        }

        .c6 {
            padding-top: 0pt;
            padding-bottom: 8pt;
            line-height: 1.0791666666666666;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c11 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c5 {
            padding: 0;
            margin: 0
        }

        .c9 {
            max-width: 481.9pt;
            padding: 85pt 56.7pt 85pt 56.7pt
        }

        .c3 {
            background-color: #ffffff
        }

        .c7 {
            height: 11pt
        }

        .title {
            padding-top: 0pt;
            color: #000000;
            font-size: 28pt;
            padding-bottom: 0pt;
            font-family: "Calibri";
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .subtitle {
            padding-top: 18pt;
            color: #666666;
            font-size: 24pt;
            padding-bottom: 4pt;
            font-family: "Georgia";
            line-height: 1.0791666666666666;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        li {
            color: #000000;
            font-size: 11pt;
            font-family: "Calibri"
        }

        p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Calibri"
        }

        h1 {
            padding-top: 12pt;
            color: #2f5496;
            font-size: 16pt;
            padding-bottom: 0pt;
            font-family: "Calibri";
            line-height: 1.0791666666666666;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h2 {
            padding-top: 18pt;
            color: #000000;
            font-weight: 700;
            font-size: 18pt;
            padding-bottom: 4pt;
            font-family: "Calibri";
            line-height: 1.0791666666666666;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 14pt;
            color: #000000;
            font-weight: 700;
            font-size: 14pt;
            padding-bottom: 4pt;
            font-family: "Calibri";
            line-height: 1.0791666666666666;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 12pt;
            color: #000000;
            font-weight: 700;
            font-size: 12pt;
            padding-bottom: 2pt;
            font-family: "Calibri";
            line-height: 1.0791666666666666;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 11pt;
            color: #000000;
            font-weight: 700;
            font-size: 11pt;
            padding-bottom: 2pt;
            font-family: "Calibri";
            line-height: 1.0791666666666666;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 10pt;
            color: #000000;
            font-weight: 700;
            font-size: 10pt;
            padding-bottom: 2pt;
            font-family: "Calibri";
            line-height: 1.0791666666666666;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
</style>
<div class="c3 c9">
    <p class="c11 title" style="text-align:center;"><span class="c10">L&aelig;ringsm&aring;l </span></p><h1 class="c4"><span class="c8">Data Lake:</span></h1><p class="c6"><span class="c0">Viden</span></p><ul class="c5 lst-kix_list_2-0 start"><li class="c2 li-bullet-0"><span class="c0">Udviklingsbaseret viden omkring h&aring;ndtering af big data i en Data Lake og de individuelle processers betydning for arkitekturen.</span></li><li class="c1 li-bullet-0"><span class="c0">Forst&aring;else for fundamentale big data begreber og data h&aring;ndteringsmetoder.</span></li></ul><p class="c6"><span class="c0">F&aelig;rdigheder</span></p><ul class="c5 lst-kix_list_2-0"><li class="c2 li-bullet-0"><span class="c0 c3">Vurdere praksisn&aelig;re problemstillinger vedr&oslash;rende big data arkitektur, datah&aring;ndtering, data sikring og databehandling.</span></li><li class="c2 li-bullet-0"><span class="c0 c3">anvende centrale principper til at udarbejdelse af en Data Lake i form af data processering, data ansvar og data roller</span></li><li class="c1 li-bullet-0"><span class="c0 c3">formidle begrundelser og overvejelser under udvikling af en Data Lake til samarbejdspartnere og brugere. </span></li></ul><p class="c6"><span class="c0">Kompetencer</span></p><ul class="c5 lst-kix_list_1-0 start"><li class="c2 li-bullet-0"><span class="c0">Varetage valg af arkitektur i forbindelse med udvikling af Data Lake.</span></li><li class="c2 li-bullet-0"><span class="c0">H&aring;ndtere situationsbestemt tilpasning af </span><span class="c0 c3">arkitektur, datah&aring;ndtering, data sikring og databehandling i udarbejdelsen af en Data Lake.</span></li><li class="c1 li-bullet-0"><span class="c0">I en struktureret sammenh&aelig;ng tilegne sig viden, f&aelig;rdigheder og kompetencer ved udarbejdelsen af en Data Lake.</span></li></ul><h1 class="c4"><span class="c8">IT-sikkerhed:</span></h1><p class="c6"><span class="c0">Viden</span></p><ul class="c5 lst-kix_list_1-0"><li class="c2 li-bullet-0"><span class="c0">Forst&aring;else for teori og praksis vedr&oslash;rende sikring.</span></li><li class="c1 li-bullet-0"><span class="c0">Forst&aring;else for privacy by design og safety by design</span></li></ul><p class="c6"><span class="c0">F&aelig;rdigheder</span></p><ul class="c5 lst-kix_list_2-0"><li class="c2 li-bullet-0"><span class="c0 c3">Vurdere praksisn&aelig;re problemstillinger vedr&oslash;rende centrale sikkerhedsm&aelig;ssige begreber og trusler under konstruktion af en </span><span class="c0">Data Lake</span><span class="c0 c3">.</span></li><li class="c2 li-bullet-0"><span class="c0 c3">Vurdere relevante sikringsmuligheder i udviklingen af e</span><span class="c3">t distribueret system</span><span class="c0 c3">.</span></li><li class="c1 li-bullet-0"><span class="c0 c3">Anvende centrale teknikker til at designe og konstruere </span><span class="c3">microservices </span><span class="c0 c3">ud fra et sikkerhedsperspektiv</span></li></ul><p class="c6"><span class="c0">Kompetencer</span></p><ul class="c5 lst-kix_list_2-0"><li class="c2 li-bullet-0"><span class="c0">Varetage valg af sikkerhed i forbindelse med udvikling af en </span><span>produkt</span><span class="c0">.</span></li><li class="c2 li-bullet-0"><span class="c0">I en struktureret sammenh&aelig;ng tilegne sig viden, f&aelig;rdigheder indenfor IT-sikkerhed. </span></li><li class="c1 li-bullet-0"><span class="c0">H&aring;ndtere situationsbestemt tilpasning af sikkerhedsmetoder og processer under konstruktion af e</span><span>t</span><span class="c0">&nbsp;</span><span>Produkt</span><span class="c0">.</span></li></ul><p class="c6 c7"><span class="c0"></span></p>

</div>