

<div class="container" style="text-align:center;">
    <a asp-action="Week18" asp-controller="Week" style="text-decoration:none; width:100%;">
        <div class="card text-white bg-dark mb-3" style="width: 26rem; margin:auto;">
            <div class="card-header">Uge 18</div>
            <div class="card-body">
                <h5 class="card-title">Beskrivelse af ugen</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
            </ul>
            <div class="card-body">
                <h5 class="card-title">Data Lake</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
                <h5 class="card-title">IT-Sikkerhed</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
    </a>
    <a asp-action="Week17" asp-controller="Week" style="text-decoration:none; width:100%;">
        <div class="card text-white bg-dark mb-3" style="width: 26rem; margin:auto;">
            <div class="card-header">Uge 17</div>
            <div class="card-body">
                <h5 class="card-title">Beskrivelse af ugen</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
            </ul>
            <div class="card-body">
                <h5 class="card-title">Data Lake</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
                <h5 class="card-title">IT-Sikkerhed</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
    </a>
    <a asp-action="Week16" asp-controller="Week" style="text-decoration:none; width:100%;">
        <div class="card text-white bg-dark mb-3" style="width: 26rem; margin:auto;">
            <div class="card-header">Uge 16</div>
            <div class="card-body">
                <h5 class="card-title">Beskrivelse af ugen</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
            </ul>
            <div class="card-body">
                <h5 class="card-title">Data Lake</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
                <h5 class="card-title">IT-Sikkerhed</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
    </a>
    <a asp-action="Week15" asp-controller="Week" style="text-decoration:none; width:100%;">
        <div class="card text-white bg-dark mb-3" style="width: 26rem; margin:auto;">
            <div class="card-header">Uge 15</div>
            <div class="card-body">
                <h5 class="card-title">Beskrivelse af ugen</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
            </ul>
            <div class="card-body">
                <h5 class="card-title">Data Lake</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
                <h5 class="card-title">IT-Sikkerhed</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
    </a>
    <a asp-action="Week14" asp-controller="Week" style="text-decoration:none; width:100%;">
        <div class="card text-white bg-dark mb-3" style="width: 26rem; margin:auto;">
            <div class="card-header">Uge 14</div>
            <div class="card-body">
                <h5 class="card-title">Beskrivelse af ugen</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
            </ul>
            <div class="card-body">
                <h5 class="card-title">Data Lake</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
                <h5 class="card-title">IT-Sikkerhed</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
    </a>
    <a asp-action="Week13" asp-controller="Week" style="text-decoration:none; width:100%;">
        <div class="card text-white bg-dark mb-3" style="width: 26rem; margin:auto;">
            <div class="card-header">Uge 13</div>
            <div class="card-body">
                <h5 class="card-title">Beskrivelse af ugen</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
            </ul>
            <div class="card-body">
                <h5 class="card-title">Data Lake</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
                <h5 class="card-title">IT-Sikkerhed</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
    </a>
    <a asp-action="Week12" asp-controller="Week" style="text-decoration:none; width:100%;">
        <div class="card text-white bg-dark mb-3" style="width: 26rem; margin:auto;">
            <div class="card-header">Uge 12</div>
            <div class="card-body">
                <h5 class="card-title">Beskrivelse af ugen</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
            </ul>
            <div class="card-body">
                <h5 class="card-title">Data Lake</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
                <h5 class="card-title">IT-Sikkerhed</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
    </a>
    <a asp-action="Week10" asp-controller="Week" style="text-decoration:none; width:100%;">
        <div class="card text-white bg-dark mb-3" style="width: 26rem; margin:auto;">
            <div class="card-header">Uge 11</div>
            <div class="card-body">
                <h5 class="card-title">Beskrivelse af ugen</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
            </ul>
            <div class="card-body">
                <h5 class="card-title">Data Lake</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
                <h5 class="card-title">IT-Sikkerhed</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
    </a>
    <a asp-action="Week9" asp-controller="Week" style="text-decoration:none; width:100%;">
        <div class="card text-white bg-dark mb-3" style="width: 26rem; margin:auto;">
            <div class="card-header">Uge 9</div>
            <div class="card-body">
                <h5 class="card-title">Beskrivelse af ugen</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
            </ul>
            <div class="card-body">
                <h5 class="card-title">Data Lake</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
                <h5 class="card-title">IT-Sikkerhed</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
    </a>
    <a asp-action="Week8" asp-controller="Week" style="text-decoration:none; width:100%;">
        <div class="card text-white bg-dark mb-3" style="width: 26rem; margin:auto;">
            <div class="card-header">Uge 8</div>
            <div class="card-body">
                <h5 class="card-title">Beskrivelse af ugen</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
            </ul>
            <div class="card-body">
                <h5 class="card-title">Data Lake</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
                <h5 class="card-title">IT-Sikkerhed</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
    </a>
    <a asp-action="Week7" asp-controller="Week" style="text-decoration:none; width:100%;">
        <div class="card text-white bg-dark mb-3" style="width: 26rem; margin:auto;">
            <div class="card-header">Uge 7</div>
            <div class="card-body">
                <h5 class="card-title">Beskrivelse af ugen</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
            </ul>
            <div class="card-body">
                <h5 class="card-title">Data Lake</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
                <h5 class="card-title">IT-Sikkerhed</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
    </a>
    <a asp-action="Week6" asp-controller="Week" style="text-decoration:none; width:100%;">
        <div class="card text-white bg-dark mb-3" style="width: 26rem; margin:auto;">
            <div class="card-header">Uge 6</div>
            <div class="card-body">
                <h5 class="card-title">Beskrivelse af ugen</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
            </ul>
            <div class="card-body">
                <h5 class="card-title">Data Lake</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
                <h5 class="card-title">IT-Sikkerhed</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Udviklingsbaseret viden omkring håndtering af big data i en Data Lake og de individuelle processers betydning for arkitekturen.</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
    </a>

</div>

