<link href="~/css/TimeLine.css" rel="stylesheet"/>
<section id="timeline">
    <article>
        <div class="inner">
            <span class="date">
                <span class="day">2020</span>
                <span class="month">Uge</span>
                <span class="year">6</span>
            </span>
            <a asp-action="Week6" asp-fragment="Week" asp-controller="Week"><h2>Uge 6</h2></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis rutrum nunc, eget dictum massa. Nam faucibus felis nec augue adipiscing, eget commodo libero mattis.</p>
        </div>
    </article>
    <article>
        <div class="inner">
            <span class="date">
                <span class="day">2020</span>
                <span class="month">Uge</span>
                <span class="year">7</span>
            </span>
            <a asp-action="Week7" asp-fragment="Week" asp-controller="Week"><h2>Uge 7</h2></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis rutrum nunc, eget dictum massa. Nam faucibus felis nec augue adipiscing, eget commodo libero mattis.</p>
        </div>
    </article>
</section>