

<div class="container" style="text-align:center;">
    @*<a asp-action="Week18" asp-controller="Week" style="text-decoration:none; width:100%;">
        <div class="card text-white bg-dark mb-3" style="width: 26rem; margin:auto;">
            <div class="card-header">Uge 18</div>
            <div class="card-body">
                <h5 class="card-title">Beskrivelse af ugen</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
            </ul>
            <div class="card-body">
                <h5 class="card-title">Data Lake</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
                <h5 class="card-title">IT-Sikkerhed</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
    </a>
    <a asp-action="Week17" asp-controller="Week" style="text-decoration:none; width:100%;">
        <div class="card text-white bg-dark mb-3" style="width: 26rem; margin:auto;">
            <div class="card-header">Uge 17</div>
            <div class="card-body">
                <h5 class="card-title">Beskrivelse af ugen</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
            </ul>
            <div class="card-body">
                <h5 class="card-title">Data Lake</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
                <h5 class="card-title">IT-Sikkerhed</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
    </a>
    <a asp-action="Week16" asp-controller="Week" style="text-decoration:none; width:100%;">
        <div class="card text-white bg-dark mb-3" style="width: 26rem; margin:auto;">
            <div class="card-header">Uge 16</div>
            <div class="card-body">
                <h5 class="card-title">Beskrivelse af ugen</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
            </ul>
            <div class="card-body">
                <h5 class="card-title">Data Lake</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
                <h5 class="card-title">IT-Sikkerhed</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
    </a>
    <a asp-action="Week15" asp-controller="Week" style="text-decoration:none; width:100%;">
        <div class="card text-white bg-dark mb-3" style="width: 26rem; margin:auto;">
            <div class="card-header">Uge 15</div>
            <div class="card-body">
                <h5 class="card-title">Beskrivelse af ugen</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
            </ul>
            <div class="card-body">
                <h5 class="card-title">Data Lake</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
                <h5 class="card-title">IT-Sikkerhed</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
    </a>*@
    <a asp-action="Week14" asp-controller="Week" style="text-decoration:none; width:100%;">
        <div class="card text-white bg-dark mb-3" style="width: 26rem; margin:auto;">
            <div class="card-header">Uge 14</div>
            <div class="card-body">
                <h5 class="card-title">Beskrivelse af ugen</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">    Prøvede at læse op på Cyptograpfi i forbindelse med IT-Sikkerhed. Er begyndt at læse op på microservices i forhold til udarbejdelsen af en god struktur til Data Laken.
                <li>
            </ul>
        </div>
    </a>
    <a asp-action="Week13" asp-controller="Week" style="text-decoration:none; width:100%;">
        <div class="card text-white bg-dark mb-3" style="width: 26rem; margin:auto;">
            <div class="card-header">Uge 13</div>
            <div class="card-body">
                <h5 class="card-title">Beskrivelse af ugen</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Var syg hele ugen så nåede ikke så meget.
                <li>
            </ul>
            </div>

</a>
    <a asp-action="Week12" asp-controller="Week" style="text-decoration:none; width:100%;">
        <div class="card text-white bg-dark mb-3" style="width: 26rem; margin:auto;">
            <div class="card-header">Uge 12</div>
            <div class="card-body">
                <h5 class="card-title">Beskrivelse af ugen</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Begyndt at lave en visual model af en Data Lake. Er igang med at læse omkring CA i IT-Sikkerhed<li>
            </ul>
        </div>
    </a>
    <a asp-action="Week10" asp-controller="Week" style="text-decoration:none; width:100%;">
        <div class="card text-white bg-dark mb-3" style="width: 26rem; margin:auto;">
            <div class="card-header">Uge 10</div>
            <div class="card-body">
                <h5 class="card-title">Beskrivelse af ugen</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Fik snakket med mentor om at fokusere mere på starten istedet for slutningen. Derfor er jeg begyndt at læse omkring strukturen af en Data Lake i forhold til at udvikle dem. Stadig igang med at lære omkring termer i IT-Sikkerhed </li>
            </ul>
        </div>
    </a>
    <a asp-action="Week9" asp-controller="Week" style="text-decoration:none; width:100%;">
        <div class="card text-white bg-dark mb-3" style="width: 26rem; margin:auto;">
            <div class="card-header">Uge 9</div>
            <div class="card-body">
                <h5 class="card-title">Beskrivelse af ugen</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Fik snakket med mentor om at fokusere mere på starten istedet for slutningen. Derfor er jeg begyndt at læse omkring strukturen af en Data Lake i forhold til at udvikle dem. Stadig igang med at lære omkring termer i IT-Sikkerhed </li>
            </ul>
        </div>
    </a>
    <a asp-action="Week8" asp-controller="Week" style="text-decoration:none; width:100%;">
        <div class="card text-white bg-dark mb-3" style="width: 26rem; margin:auto;">
            <div class="card-header">Uge 8</div>
            <div class="card-body">
                <h5 class="card-title">Beskrivelse af ugen</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Læst videre på det samme materiale.</li>
            </ul>
        </div>
    </a>
    <a asp-action="Week7" asp-controller="Week" style="text-decoration:none; width:100%;">
        <div class="card text-white bg-dark mb-3" style="width: 26rem; margin:auto;">
            <div class="card-header">Uge 7</div>
            <div class="card-body">
                <h5 class="card-title">Beskrivelse af ugen</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Gået i gang med at finde materiale og læse op på det</li>
            </ul>
        </div>
    </a>
    <a asp-action="Week6" asp-controller="Week" style="text-decoration:none; width:100%;">
        <div class="card text-white bg-dark mb-3" style="width: 26rem; margin:auto;">
            <div class="card-header">Uge 6</div>
            <div class="card-body">
                <h5 class="card-title">Beskrivelse af ugen</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Gået i gang med at finde materiale og læse op på det</li>
            </ul>
        </div>
    </a>
</div>

