

<div class="container" style="text-align:center;">
    <div style="margin-bottom: 20px; ">
        <div class="card text-white bg-dark mb-3" style="width: 18rem; margin: auto;">
            @*<img class="card-img-top" src="..." alt="Card image cap">*@
            <div class="card-header">Uge 8</div>
            <div class="card-body">
                <h5 class="card-title">Data Lake</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>

        </div>
    </div>
    <div style="margin-bottom: 20px; ">
    <div class="card text-white bg-dark mb-3" style="width: 18rem; margin: auto;">
        <div class="card-header">Uge 7</div>
        <div class="card-body">
            <h5 class="card-title">Data Lake</h5>
            <p class="card-text">Læringsmål</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>

    </div>
    </div>
    <div class="card text-white bg-dark mb-3" style="width: 18rem; margin:auto;">
        <div class="card-header">Uge 6</div>
        <div class="card-body">
            <h5 class="card-title">Data Lake</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
            <h5 class="card-title">IT-Sikkerhed</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>
</div>

